.ppp-project-blocks {
  &__container {
    @extend %flexColumn;
    row-gap: 40px;
  }

  &__title {
    @extend %secondaryH3;
  }

  &__items {
    grid-gap: 20px;
    @extend %gridColumnTwo;

    li {
      @extend %mainTxt;
      @extend %flexColumn;
      row-gap: 32px;
      justify-content: space-between;
      border-radius: 4px;
      background-color: $white;
      padding: 32px;

      b {
        @extend %h3;
        color: $bluePrimary;
      }
    }
  }

  &__txts {
    margin-top: 20px;
    max-width: 780px;
  }

  &__tit,
  &__descs-tit {
    @extend %h3;
    margin-bottom: 20px;
  }

  &__txt,
  &__descs-txt {
    @extend %mainTxt;
  }

  &__lists {
    @extend %gridColumnTwo;
    grid-gap: 20px;
  }

  &__lists-block {
    @extend %flexColumn;
    row-gap: 20px;
  }

  &__lists-tit {
    color: $black;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
  }

  &__lists-list {
    @extend %flexColumn;
    row-gap: 12px;

    & > li {
      @extend %mainTxt;
      position: relative;
      padding-left: 36px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        background-color: $bluePrimary;
        width: 24px;
        height: 2px;
      }
    }
  }
}

@media screen and (max-width: $laptop) {
  .ppp-project-blocks {
    &__items {
      li {
        font-size: 20px;
        justify-content: flex-start;

        b {
          font-size: 32px;
        }
      }
    }

    &__descs-tit {
      font-size: 32px;
    }

    &__descs-txt {
      font-size: 20px;
    }

    &__lists-list {
      row-gap: 8px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .ppp-project-blocks {
    &__container {
      row-gap: 32px;
    }

    &__descs-tit {
      font-size: 26px;
    }

    &__lists {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: $mob) {
  .ppp-project-blocks {
    &__items {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px;
      grid-auto-rows: 1fr;

      li {
        padding: 24px;
        font-size: 16px;
        row-gap: 28px;
        justify-content: space-between;

        b {
          font-size: 24px;
        }
      }
    }

    &__lists-list {
      li {
        font-size: 18px;
      }

      & > li {
        padding-left: 32px;
      }
    }
  }
}
