.article {
  &__title {
    &-h1 {
      @extend %h2;
      margin-bottom: 40px;
    }
  }

  &__head {
    @extend %flexCenterBetween;
    margin-bottom: 20px;
    max-width: 870px;
  }

  &__date {
    @extend %flexCenterStart;
    column-gap: 8px;

    span {
      color: $black66;
      @extend %regular16;
    }
  }

  &__links {
    @extend %flexCenterStart;
    column-gap: 8px;

    span {
      color: $black66;
      @extend %regular16;
    }
  }

  &__image {
    @extend %imageCoverWidth;
    height: 600px;
    margin-bottom: 40px;

    img {
      border-radius: 4px;
      max-width: 870px;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 870px;
  }
}

@media screen and (max-width: $laptop) {
  .article {
    .header-top__socials {
      display: flex;
    }
  }
}

@media screen and (max-width: $tablet) {
  .article {
    &__title {
      &-h1 {
        margin-bottom: 32px;
      }
    }

    &__image {
      height: 100%;
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: $mob) {
  .article {
    &__head {
      flex-direction: column;
      align-items: flex-start;
      row-gap: 16px;
    }
  }
}
