.territory-develop {
  .content {
    ul {
      & > li {
        @include mb(8px);
      }
    }

    p {
      &:not(:first-child) {
        margin-top: 8px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__container {
    @extend %flexColumn;
    row-gap: 60px;
  }

  &__head {
    &-container {
      @extend %flexColumn;
      row-gap: 40px;
    }
  }

  &__title {
    &-h1 {
      max-width: 870px;
      @extend %h2;
    }
  }

  &__content {
    max-width: 870px;
  }

  &__image {
    @extend %imageCoverWidth;
    height: 500px;

    img {
      border-radius: 4px;
    }
  }

  &__advan {
    background-color: $white;
    border-radius: 4px;
    padding: 32px;

    &-inner {
      @extend %gridColumnFive;
      column-gap: 24px;
    }

    &-item {
      @extend %flexColumn;
      align-items: flex-start;
      row-gap: 8px;
    }

    &-label {
      @extend %mainTxt;
    }

    &-name {
      @extend %subheader;
      color: $bluePrimary;
    }
  }

  &__records {
    &-container {
      @extend %flexColumn;
      column-gap: 20px;
      row-gap: 60px;
    }

    &-items {
      @extend %gridColumnTwo;
      column-gap: 20px;
      row-gap: 20px;
    }

    &-lists {
      @extend %gridColumnTwo;
      column-gap: 20px;
      row-gap: 20px;
    }

    &-list {
      padding-right: 20px;
    }

    &-info {
      max-width: 870px;

      &.block-white {
        background-color: $white;
        padding: 32px;
        border-radius: 4px;
      }

      &.amount {
        p {
          @extend %h3;
          color: $bluePrimary;
        }
      }
    }

    &-name {
      @extend %h3;
      margin-bottom: 20px;
    }

    &-inner {
      @extend %flexColumn;
      row-gap: 60px;
    }
  }

  &__items {
    @extend %gridColumnThree;
    column-gap: 20px;
    row-gap: 20px;
  }

  &__item {
    padding: 32px;
    background-color: $white;
    @extend %flexColumn;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 32px;

    &-name {
      @extend %subheader;
      color: $bluePrimary;
    }

    &-text {
      & > strong {
        @extend %semibold20;
        display: inline-block;
        margin-bottom: 8px;

        &:not(:first-child) {
          margin-top: 8px;
        }
      }

      p {
        @include mb(4px);
        @extend %mainTxt;

        strong {
          color: $bluePrimary;
          margin-right: 8px;
          @extend %subheader;
        }
      }
    }

    &-last {
      grid-column-start: 1;
      grid-column-end: 4;
      background: var(--blue-gradient, linear-gradient(94deg, #144286 0%, #2d6fd0 100%));

      .territory-develop__item-name {
        color: $white;
      }

      p {
        color: $white;

        strong {
          color: $white;
        }
      }
    }
  }

  &__supports-num {
    .territory-develop__item {
      justify-content: flex-start;
      row-gap: 24px;
    }

    .territory-develop__item-name {
      @extend %subheader;
    }
  }

  .territory-develop__amount {
    .territory-develop__items {
      @extend %gridColumnTwo;
    }
  }

  &__contacts {
    @extend %gridColumnFour;
    column-gap: 20px;
    row-gap: 20px;

    &-item {
      background-color: $white;
      padding: 32px;
      border-radius: 4px;
      @extend %flexColumn;
      align-items: flex-start;
      justify-content: space-between;
      height: 222px;
      flex-shrink: 0;
    }

    &-label {
      @extend %mainTxt;
    }

    &-bottom {
      @extend %flexColumn;
      row-gap: 8px;
    }

    &-link {
      @extend %semiboldText26;
      color: $bluePrimary;
      display: inline-block;
    }
  }

  &__gallery {
    @extend %gridColumnThree;
    column-gap: 20px;
    row-gap: 20px;

    &-item {
      display: inline-block;
      border-radius: 4px;
      overflow: hidden;
      @extend %imageCoverWidth;
      height: 350px;
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: $laptop) {
  .territory-develop {
    &__title {
      &-h1 {
        max-width: 880px;
      }
    }

    &__content {
      max-width: 760px;
    }

    &__advan {
      &-inner {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 20px;
        row-gap: 24px;
      }
    }

    &__records {
      &-info {
        max-width: 580px;
      }
    }

    &__contacts {
      grid-template-columns: repeat(2, 1fr);

      &-item {
        height: 205px;
      }
    }

    &__items {
      grid-template-columns: repeat(3, 1fr);
    }

    &__item {
      &-last {
        grid-column-start: 1;
        grid-column-end: 4;
      }
    }

    &__supports {
      .territory-develop__item {
        min-height: 208px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .territory-develop {
    &__head {
      &-container {
        row-gap: 32px;
      }
    }

    &__title {
      &-h1 {
        max-width: 100%;
      }
    }

    &__content {
      max-width: 100%;
    }

    &__image {
      height: 400px;
    }

    &__advan {
      padding: 24px;

      &-inner {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &__records {
      &-container {
        grid-template-columns: repeat(1, 1fr);
      }

      &-items {
        grid-template-columns: repeat(1, 1fr);
      }

      &-info {
        max-width: 100%;
      }

      &-lists {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 8px;
      }

      &-item {
        &-first {
          grid-column-start: inherit;
          grid-column-end: inherit;
        }
      }
    }

    &__item {
      padding: 24px;
      row-gap: 20px;
    }

    &__supports {
      .territory-develop__items {
        grid-template-columns: repeat(2, 1fr);
      }

      .territory-develop__item {
        min-height: 278px;

        &-before {
          grid-column-start: 1;
          grid-column-end: 3;
        }

        &-last {
          grid-column-start: 1;
          grid-column-end: 3;
        }
      }
    }

    &__supports-num {
      .territory-develop__item {
        min-height: 193px;
      }
    }

    &__contacts {
      grid-template-columns: repeat(2, 1fr);

      &-item {
        padding: 24px;
        height: 180px;
      }

      &-label {
        @extend %mainTxt;
      }

      &-link {
        color: $bluePrimary;
      }
    }

    &__gallery {
      grid-template-columns: repeat(2, 1fr);

      &-item {
        height: 350px;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .territory-develop {
    &__container {
      row-gap: 50px;
    }

    &__title {
      &-h1 {
        word-break: break-word;
      }
    }

    &__image {
      height: 400px;
      flex-shrink: 0;
    }

    &__advan {
      &-inner {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
      }
    }

    &__records {
      &-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 50px;
      }

      &-items {
        row-gap: 16px;
      }

      &-item {
        &-first {
          grid-column-start: inherit;
          grid-column-end: inherit;
        }
      }

      &-inner {
        row-gap: 50px;
      }

      &-info {
        &.content {
          b {
            display: block;
            margin-right: 0;
            margin-bottom: 8px;
          }

          p {
            @include mb(16px);
          }
        }

        &.block-white {
          padding: 24px;
        }
      }

      &-list {
        &.content {
          ul {
            & > li {
              &::before {
                top: 6px;
              }
            }
          }
        }
      }
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }

    &__supports {
      .territory-develop__items {
        grid-template-columns: repeat(1, 1fr);
      }

      .territory-develop__item {
        min-height: 273px;

        &-before {
          grid-column-start: inherit;
          grid-column-end: inherit;
        }

        &-last {
          grid-column-start: inherit;
          grid-column-end: inherit;
        }
      }

      &-num {
        .territory-develop__item {
          min-height: 164px;
        }
      }
    }

    &__amount {
      .territory-develop__items {
        grid-template-columns: repeat(1, 1fr) !important;
      }
    }

    &__products {
      grid-template-columns: repeat(1, 1fr);

      &-item {
        padding: 24px;
      }
    }

    &__contacts {
      grid-template-columns: repeat(1, 1fr);

      &-item {
        padding: 24px;
        height: 181px;

        &:last-child {
          grid-column-start: inherit;
          grid-column-end: inherit;
        }
      }

      &-link {
        word-break: break-word;
      }
    }

    &__gallery {
      grid-template-columns: repeat(1, 1fr);

      &-item {
        display: inline-block;
        height: 350px;
      }
    }
  }
}
