.invest-rules {
  &__title {
    @extend %secondaryH3;
    margin-bottom: 40px;
  }

  &__links {
    @extend %gridColumnTwo;
    row-gap: 20px;
    column-gap: 20px;
  }
}

@media screen and (max-width: $tablet) {
  .invest-rules {
    &__title {
      margin-bottom: 32px;
    }

    &__links {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: $mob) {
  .invest-rules {
    &__title {
      font-size: 32px;
      hyphens: auto;
    }

    &__link {
      align-items: flex-start;
    }

    &__links {
      row-gap: 16px;
    }
  }
}
