.invest-committee {
  &__container {
    @extend %flexColumn;
    row-gap: 40px;
  }

  &__titles {
    @extend %gridColumnTwo;
    column-gap: 20px;
  }

  &__title {
    &-h1 {
      @extend %h2;
      padding-right: 20px;
    }
  }

  &__subtitle {
    @extend %mainTxt;
    padding-right: 20px;

    p {
      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__image {
    @extend %imageCoverWidth;
    height: 500px;
  }
}

@media screen and (max-width: $laptop) {
}

@media screen and (max-width: $tablet) {
  .invest-committee {
    &__container {
      row-gap: 32px;
    }

    &__titles {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 32px;
    }

    &__title {
      &-h1 {
        padding-right: 0px;
      }
    }

    &__subtitle {
      padding-right: 0px;
    }

    &__image {
      height: 400px;
    }
  }
}

@media screen and (max-width: $mob) {
  .invest-committee {
    &__title {
      &-h1 {
        word-break: break-word;
      }
    }
  }
}
