.regul-committee {
  &__container {
    @extend %flexColumn;
    row-gap: 60px;
  }

  &__head {
    max-width: 770px;
  }

  &__title {
    &-h2 {
      @extend %secondaryH3;
      margin-bottom: 40px;
    }
  }

  &__descr {
    @extend %mainTxt;
    margin-bottom: 16px;
  }

  &__doc {
    max-width: 620px;
  }

  &__advan {
    @extend %gridColumnTwo;
    column-gap: 20px;

    &-column {
      padding-right: 20px;
    }
  }

  &__order {
    &-items {
      @extend %gridColumnThree;
      column-gap: 20px;
      row-gap: 20px;
    }

    &-item {
      border-radius: 4px;
      background-color: $white;
      padding: 32px;
      @extend %flexColumn;
      @extend %flexStart;
      row-gap: 32px;
    }

    &-num {
      color: $bluePrimary;
      @extend %h3;
    }

    &-text {
      @extend %mainTxt;
    }
  }

  &__ask {
    &_name {
      @extend %subheader;
      margin-bottom: 20px;
    }
  }

  &__ask {
    &-title {
      @extend %subheader;
      color: $blackName;
      margin-bottom: 20px;
    }

    &-items {
      @extend %gridColumnThree;
      column-gap: 20px;
      row-gap: 20px;
    }

    &-item {
      border-radius: 4px;
      background-color: $white;
      padding: 32px;
      @extend %flexColumn;
      @extend %flexStartBetween;

      &:last-child {
        background: var(--blue-gradient, linear-gradient(94deg, #144286 0%, #2d6fd0 100%));
        @extend %flexStart;
        row-gap: 32px;

        .regul-committee__ask-soc {
          a {
            color: $white;
          }
        }
      }
    }

    &-text {
      @extend %mainTxt;
    }

    &-soc {
      a {
        @extend %h3;
        display: block;
        @include mb(8px);
        color: $bluePrimary;
      }
    }

    &-info {
      @extend %flexCenterStart;
      column-gap: 16px;
    }

    &-icon {
      width: 50px;
      height: 50px;
      flex-shrink: 0;
    }

    &-content {
      @extend %flexColumn;
      row-gap: 2px;
    }

    &-name {
      font-size: 20px;
      font-weight: 600;
      line-height: 130%;
      color: $white;
    }

    &-post {
      font-size: 16px;
      font-weight: 400;
      line-height: 130%;
      color: $white;
    }
  }
}

@media screen and (max-width: $laptop) {
  .regul-committee {
    &__head {
      max-width: 870px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .regul-committee {
    &__titile {
      &-h2 {
        margin-bottom: 32px;
      }
    }

    &__head {
      max-width: 100%;
    }

    &__doc {
      max-width: 100%;
    }

    &__container {
      row-gap: 48px;
    }

    &__advan {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 32px;

      &-column {
        padding-right: 0;

        ul:not(:first-child) {
          margin-top: 16px;
        }
      }
    }

    &__order {
      &-items {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
      }

      &-item {
        padding: 24px;
        row-gap: 24px;
      }
    }

    &__ask {
      &-items {
        grid-template-columns: repeat(1, 1fr);
        grid-auto-rows: 1fr;
        row-gap: 20px;
      }

      &-item {
        padding: 24px;
        row-gap: 24px;

        &:last-child {
          row-gap: 24px;
        }
      }
    }

    &__title {
      &-h2 {
        margin-bottom: 32px;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .regul-committee__ask-soc a:not(:last-child) {
    margin-bottom: 4px;
  }

  .regul-committee {
    &__ask {
      &-soc {
        a {
          word-break: break-word;
        }
      }
    }
  }
}
