.chat {
  background-color: $white;
  display: flex;
  overflow: hidden;
  align-items: flex-end;

  &__content {
    width: 100%;
    border-radius: 12px;
    border: 1px solid $inputGreyStroke;
  }

  &__content-theme {
    @extend %flexStart;
    column-gap: 8px;
  }

  &__content-button {
    @include sizes(20px, 20px);
    display: none;
  }

  &__content-theme {
    padding: 22px 32px;
    border-bottom: 1px solid $inputGreyStroke;
  }

  &__content-title {
    @extend %secondaryTextRegular12;
    color: $greyTxt;
  }

  &__content-name {
    @extend %mediumTextRegular;
  }

  &__content-chat {
    padding: 20px 0 20px 32px;
  }

  &__content-form {
    @extend %flexCenterBetween;
    column-gap: 8px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid $inputGreyStroke;
    margin-right: 20px;
  }

  .input-file label svg {
    @include sizes(24px, 24px);
    use {
      stroke: $greyTxt;
    }

    &:hover use {
      stroke: $blue-1;
    }
  }

  &__content-btn {
    @include sizes(24px, 24px);

    svg {
      stroke: $bluePrimary;
    }

    &:hover {
      svg {
        stroke: $blue-1;
      }
    }
  }

  &__content-tetarea {
    @include noScrollLine();
    width: 100%;
    border: 0;
    padding: 0;
    background-color: transparent;
    @extend %regular16;
    color: $black;

    &::placeholder {
      color: $greyTxt;
    }
  }

  &__content-blocks {
    @extend %flexColumn;
    padding-right: 24px;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__content-cont {
    height: 460px;
    margin-bottom: 28px;
  }

  &__content-block {
    @include mb(16px);

    &--admin {
      .chat__content-txts {
        background-color: #f5f6f6;
      }
    }
  }

  &__content-dates {
    display: flex;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 6px;
  }

  &__content-txts {
    padding: 20px;
    border-radius: 4px;
    background-color: #e8f0ff;
    width: fit-content;
  }

  &__content-author {
    color: #1e1e1e;
    font-size: 14px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 8px;
  }

  &__content-txt {
    font-size: 14px;
    line-height: 130%;
    word-break: break-all;
  }

  &__content-date,
  &__content-time {
    color: $greyTxt;
    font-size: 12px;
    line-height: 130%;
  }

  &__content-new {
    @extend %flexColumn;
    align-items: center;
    row-gap: 8px;
    margin-bottom: 16px;

    div {
      font-size: 14px;
      line-height: 130%;
      color: $greyTxt;
    }
  }

  &__content-block-titles {
    @extend %flexCenterBetween;
    margin-bottom: 8px;
  }

  &__content-block-time {
    @extend %secondaryTextRegular12;
    color: $greyTxt;
  }

  &__content-block-author,
  &__content-block-text {
    font-size: 14px;
    line-height: 130%;
  }

  &__content-block-author {
    font-weight: 500;
  }
}

@media screen and (max-width: $tablet) {
  .chat {
    &__content {
      border-radius: 0;
    }

    &__content-theme {
      padding: 24px 40px;
    }

    &__content-chat {
      position: fixed;
      background: white;
      height: calc(100% - 240px);
      width: 100%;
      display: flex;
      flex-direction: column;
      padding-left: 40px;
    }

    &__content-cont {
      height: 100%;
    }

    &__content-blocks {
      padding-right: 40px;
    }

    &__content-form {
      width: calc(100% - 80px);
      position: fixed;
      bottom: 20px;
    }

    &__content-button {
      display: block;
    }
  }
}

@media screen and (max-width: $mob) {
  .chat {
    &__content-theme {
      padding: 24px 16px;
    }

    &__content-chat {
      padding-left: 16px;
    }

    &__content-blocks {
      padding-right: 16px;
    }

    &__content-form {
      width: calc(100% - 32px);
    }
  }
}
