.chat {
  background-color: $white;
  display: flex;
  overflow: hidden;
  align-items: flex-end;

  &__menu {
    width: 320px;
    flex-shrink: 0;
  }

  &__left {
    .account__back,
    .account__titles {
      margin-bottom: 40px;
    }
  }

  &__menu-name,
  &__menu-theme,
  &__menu-date,
  &__content-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__menu-input {
    height: 86px;
    padding: 20px;
    border-radius: 12px 0 0 0;
    border: 1px solid $inputGreyStroke;
  }

  &__menu-list {
    border-radius: 0 0 0 12px;
    border-bottom: 1px solid $inputGreyStroke;
    border-left: 1px solid $inputGreyStroke;
    border-right: 1px solid $inputGreyStroke;
    padding: 20px 0 20px 20px;
  }

  &__menu-items {
    padding-right: 20px;
    height: 537px;
  }

  &__menu-item {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid $inputGreyStroke;
    cursor: pointer;

    &:not(:last-child) {
      margin-bottom: 8px;
    }

    &.--active {
      border-color: transparent;
      background-color: #e8f0ff;
    }
  }

  &__menu-dates {
    @extend %flexCenterBetween;
    margin-bottom: 8px;
  }

  &__menu-date,
  &__menu-time {
    @extend %secondaryTextRegular12;
  }

  &__menu-time {
    color: $greyTxt;
  }

  &__menu-theme {
    @extend %semiboldTextRegular;
    margin-bottom: 2px;
  }

  &__menu-desc {
    @extend %flexCenterBetween;
    column-gap: 10px;
  }

  &__menu-name {
    @extend %secondaryTextRegular;
  }

  &__menu-count {
    @include sizes(20px, 20px);
    @extend %flexCenter;
    border-radius: 50%;
    background-color: $bluePrimary;
    flex-shrink: 0;

    span {
      color: $white;
      font-size: 12px;
      line-height: 100%;
    }
  }

  &__content {
    width: 570px;
  }

  &__content-theme {
    @extend %flexStart;
    column-gap: 8px;
  }

  &__content-button {
    @include sizes(20px, 20px);
    display: none;
  }

  &__content-theme {
    height: 86px;
    padding: 20px;
    border-radius: 0px 12px 0 0;
    border-bottom: 1px solid $inputGreyStroke;
    border-top: 1px solid $inputGreyStroke;
    border-right: 1px solid $inputGreyStroke;
  }

  &__content-title {
    @extend %secondaryTextRegular12;
    color: $greyTxt;
  }

  &__content-name {
    @extend %mediumTextRegular;
  }

  &__content-chat {
    height: 578px;
    padding: 24px 0 20px 20px;
    border-radius: 0 0 12px 0;
    border-bottom: 1px solid $inputGreyStroke;
    border-right: 1px solid $inputGreyStroke;
  }

  &__content-form {
    @extend %flexCenterBetween;
    column-gap: 8px;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid $inputGreyStroke;
    margin-right: 20px;
  }

  .input-file label svg {
    @include sizes(24px, 24px);
    use {
      stroke: $greyTxt;
    }

    &:hover use {
      stroke: $blue-1;
    }
  }

  &__content-btn {
    @include sizes(24px, 24px);

    svg {
      stroke: $bluePrimary;
    }

    &:hover {
      svg {
        stroke: $blue-1;
      }
    }
  }

  &__content-tetarea {
    @include noScrollLine();
    width: 100%;
    border: 0;
    padding: 0;
    background-color: transparent;
    @extend %regular16;
    color: $black;

    &::placeholder {
      color: $greyTxt;
    }
  }

  &__content-blocks {
    @extend %flexColumn;
    margin-bottom: 24px;
    height: 460px;
    padding-right: 20px;
  }

  &__content-block {
    padding: 12px;
    border-radius: 4px;

    &:not(:last-child) {
      margin-bottom: 16px;
    }

    &.--user {
      background-color: #e8f0ff;
    }
  }

  &__content-new {
    @extend %flexColumn;
    align-items: center;
    row-gap: 8px;
    margin-bottom: 16px;

    div {
      font-size: 14px;
      line-height: 130%;
      color: $greyTxt;
    }
  }

  &__content-block-titles {
    @extend %flexCenterBetween;
    margin-bottom: 8px;
  }

  &__content-block-time {
    @extend %secondaryTextRegular12;
    color: $greyTxt;
  }

  &__content-block-name,
  &__content-block-text {
    font-size: 14px;
    line-height: 130%;
  }

  &__content-block-name {
    font-weight: 500;
  }
}

@media screen and (max-width: $laptop) {
  .chat {
    &__content {
      width: 480px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .chat {
    overflow: visible;
    background-color: transparent;

    &__content {
      display: none;

      &.--active {
        display: block;
      }
    }

    &__left {
      .account__back {
        margin-bottom: 32px;
      }

      .account__titles {
        margin-bottom: 24px;
      }

      &.--hide {
        display: none;
      }
    }

    &__menu,
    &__left,
    &__content {
      width: 100%;
    }

    &__menu-input,
    &__menu-list {
      padding: 0;
      border: 0;
      height: auto;
      border-radius: 0;
    }

    &__menu-list {
      margin-top: 24px;
    }

    &__menu-items {
      height: 100%;
      padding: 0;
    }

    &__content-theme {
      padding: 24px 40px;
      height: auto;
      border: 0;
      border-radius: 0;
      position: fixed;
      z-index: 2;
      left: 0;
      top: 88px;
      width: 100%;
      border-top: 1px solid $inputGreyStroke;
      border-bottom: 1px solid $inputGreyStroke;
      background-color: $white;
    }

    &__content-button {
      display: block;
    }

    &__content-chat {
      padding: 0;
      border: 0;
      border-radius: 0;
      height: auto;
      margin-top: 64px;
    }

    &__content-new {
      div {
        font-size: 12px;
      }
    }

    &__content-form {
      position: fixed;
      bottom: 30px;
      margin: 0;
      width: calc(100% - 80px);
    }

    &__content-blocks {
      margin-bottom: 0;
      height: calc(100vh - 120px - 80px - 90px);
      padding: 0;
    }
  }
}

@media screen and (max-width: $mob) {
  .chat {
    &__content-form {
      width: calc(100% - 32px);
    }

    &__content-theme {
      padding: 24px 16px;
    }
  }
}
