.footer {
  background-color: $bgDark;

  a {
    transition: $transitionColor;

    &:hover {
      color: $white;
    }
  }

  &__top {
    @extend %gridColumnFive;
    padding: 100px 0 50px;
    border-bottom: 1px solid $greyLine;
    column-gap: 80px;
    row-gap: 32px;
  }

  &__logo {
    display: inline-block;
    @include sizes(258px, 64px);
    flex-shrink: 0;

    &-column {
      grid-column-start: 1;
      grid-column-end: 4;
    }
  }

  &__info {
    &-title {
      @extend %regular16;
      margin-bottom: 16px;
      color: $grey;
    }

    &-link {
      @extend %mediumMainTxt;
      color: $white;
    }

    &-socials {
      @extend %flexCenterStart;
      column-gap: 20px;

      a {
        @include sizes(32px, 32px);
      }
    }

    &-block {
      &:nth-child(4) {
        grid-column-start: 4;
        grid-column-end: 5;
      }

      &:nth-child(5) {
        grid-column-start: 5;
        grid-column-end: 6;
      }
    }
  }

  &__center {
    margin-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid $greyLine;
  }

  &__lists {
    @extend %gridColumnFive;
    column-gap: 80px;
    row-gap: 60px;
  }

  &__list {
    &-title {
      @extend %flexCenterBetween;

      p,
      a {
        @extend %semibold16;
        color: $white;
      }

      svg {
        display: none;
        transition: $transitionTransform;
      }

      &:not(:first-child) {
        margin-top: 40px;
      }

      &-hide {
        display: block;
      }
    }

    &-items {
      padding-top: 24px;
      @extend %flexColumn;
      row-gap: 16px;
    }
  }

  &__item {
    @extend %secondaryTextRegular;
    color: $grey;
  }

  &__bottom {
    @extend %flexCenterBetween;
    padding: 32px 0;

    &-txt {
      @extend %secondaryTextRegular;
      color: $grey;
    }
  }
}

@media screen and (max-width: $laptop) {
  .footer {
    &__logo {
      &-column {
        grid-column-end: 3;
      }
    }

    &__bottom-txt {
      font-size: 16px;
    }

    &__top {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 40px;
    }

    &__center {
      padding-bottom: 40px;
    }

    &__lists {
      grid-template-columns: repeat(4, 1fr);
      column-gap: 40px;
      row-gap: 40px;
    }

    &__list {
      &-items {
        padding-top: 20px;
        row-gap: 12px;
      }

      &-title {
        &-hide {
          display: block;
        }
      }

      &-hide {
        display: none;
      }

    }

    &__info {
      &-block {
        &:nth-child(4) {
          grid-column-start: 3;
          grid-column-end: 4;
        }

        &:nth-child(5) {
          grid-column-start: 4;
          grid-column-end: 5;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .footer {
    &__top {
      padding: 80px 0 50px;
      // display: flex;
      // justify-content: flex-end;
      display: grid;
      grid-template-columns: 40px 1fr;
      column-gap: 40px;
    }

    &__logo {
      width: 39px;
      height: 64px;

      &-column {
        margin-right: auto;
      }
    }

    &__center {
      margin-top: 32px;
      padding-bottom: 0;
      border-bottom: 0;
    }

    &__info {
      width: fit-content;

      &-block {
        &:nth-child(1) {
          grid-column-start: 1;
          grid-column-end: 2;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(2) {
          grid-column-start: 2;
          grid-column-end: 3;
          grid-row-start: 1;
          grid-row-end: 2;
        }

        &:nth-child(3) {
          grid-column-start: 2;
          grid-column-end: 3;
        }

        &:nth-child(4) {
          grid-column-start: 2;
          grid-column-end: 3;
        }

        &:nth-child(5) {
          grid-column-start: 2;
          grid-column-end: 3;
        }
      }
    }

    &__list-title p,
    &__bottom-txt {
      font-size: 14px;
    }

    &__lists {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 0;
      margin-bottom: 32px;
    }

    &__list {
      padding: 20px 0;
      border-bottom: 1px solid #424242;
      width: 100%;

      &-title {
        display: flex;

        &-hide {
          display: none;
        }
      }

      &-hide {
        display: block;
      }

      &:first-child {
        padding-top: 0;
      }

      &.active {
        .footer__list-title {
          padding-bottom: 12px;

          svg {
            transform: rotate(180deg);
          }
        }

        .footer__list-items {
          overflow: visible;
          padding-top: 12px;
          opacity: 1;
        }
      }
    }

    &__list-items {
      row-gap: 12px;
      padding-top: 0;
      height: 0;
      transition: $transitionVisibility, $transitionOpacity, $transitionHeight, $transitionPadding;
      overflow: hidden;
      opacity: 0;
    }



    &__list-title {
      transition: $transitionPadding;

      svg {
        display: block;
        @include sizes(20px, 20px);
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .footer {
    &__top {
      padding: 60px 0 32px;
    }

    &__info {
      row-gap: 20px;
    }

    &__info-block {
      &:last-child {
        margin-top: 0;
      }
    }

    &__info-title {
      margin-bottom: 11px;
      font-size: 14px;
    }

    &__info-link {
      font-size: 16px;
    }

    &__lists {
      flex-direction: column;
    }

    &__list-title p {
      font-size: 16px;
    }

    &__bottom {
      padding: 32px 0 24px;
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 20px;
    }
  }
}