.header {
  @extend %flexColumn;
  background-color: $white;
  z-index: 10;
  transition: background 0.5s ease-in;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: block;
  // height: 160px;

  &.active {
    height: auto;

    .header-top {
      display: none;
    }

    .header-bottom__logo {
      display: block;
      position: relative;
      left: 3px;
    }

    .header-bottom {
      padding: 12px 0;
      border-bottom: none;
    }

    .header-menu {
      height: calc(100vh - 88px);
    }
  }

  * {
    color: $black;
    @extend %regular16;
    transition:
      color 0.25s ease,
      stroke 0.25s ease,
      fill 0.25s ease,
      border 0.25s ease,
      opacity 0.25s ease,
      visibility 0.25s ease,
      height 0.5s ease,
      max-heigth 0.5s ease,
      padding 0.5s ease;
  }

  svg use {
    stroke: $black;
  }

  button:not(.dropdown__btn):hover,
  a:not(.header-top__social):hover {
    color: $blueHover;

    svg use {
      stroke: $blueHover;
    }

    p {
      color: $blueHover;
    }
  }

  &-top,
  &-bottom {
    border-bottom: 1px solid $inputGreyStroke;
  }

  &-top {
    &__logo {
      flex-shrink: 0;
      position: relative;
      @include sizes(235px, 64px);
      margin-right: 24px;

      a {
        @extend %fullSize;
        position: absolute;
        @extend %visible;

        &.header-top__logo--transparent {
          @extend %hidden;
        }

        img {
          width: 100%;
          height: 100%;
        }
      }
    }

    &__container {
      @extend %flexCenterStart;
    }

    &__content {
      @extend %flexCenterBetween;
      border-left: 1px solid $inputGreyStroke;
      padding-top: 32px;
      padding-bottom: 25px;
      padding-left: 24px;
      width: 100%;
    }

    &__phone {
      @extend %flexColumn;

      p {
        font-size: 14px;
      }
    }

    &__panel {
      @extend %flexCenterEnd;
      width: 100%;
      column-gap: 32px;
    }

    &__socials {
      @extend %flexCenterBetween;
      column-gap: 4px;

      svg use {
        fill: $black;
        stroke: none;
      }

      a {
        @include sizes(32px, 32px);

        &:hover {
          svg use {
            fill: $blueHover;
          }
        }
      }
    }

    &__btns {
      @extend %flexCenterBetween;
      column-gap: 32px;

      &-search {
      }

      &-button {
        @extend %flexCenter;
        column-gap: 8px;
        cursor: pointer;

        svg {
          @include sizes(20px, 20px);
          flex-shrink: 0;
        }
      }
    }

    &__dropdown {
      width: fit-content;

      .dropdown {
        &__content {
          @include sizes(auto, auto);
          transition: all 0.5s ease;
        }

        &__value {
          @extend %medium18;
          flex-shrink: 0;
        }

        &__header {
          align-items: baseline;
        }

        &__btn {
          @include sizes(12px, 12px);
        }
      }
    }

    &__search {
      &-wr {
        margin-right: auto;
        @extend %flexCenterBetween;
        width: 100%;
        position: relative;
      }
    }

    &__entrance {
      display: none;
    }
  }

  &-bottom {
    padding: 16px 0;

    &__container {
      @extend %flexCenterBetween;
    }

    &__logo {
      height: 64px;
      display: none;

      a {
        display: inline-block;
        width: 39px;
        height: 64px;
        flex-shrink: 0;
      }
    }

    &__btns {
      @extend %flexCenterStart;
      column-gap: 40px;
    }

    &__btn {
      @extend %flexCenter;
      column-gap: 8px;

      svg {
        @include sizes(24px, 24px);
        flex-shrink: 0;
      }

      p {
        white-space: nowrap;
      }

      &-burg {
        @include sizes(32px, 32px);
        background-image: url(../assets/img/icons/burger-show.svg);

        &.change {
          background-image: url(../assets/img/icons/burger-close.svg);
        }
      }
    }

    &__list {
      &-item {
        padding-top: 4px;
        padding-bottom: 4px;
        @extend %flexCenter;
        column-gap: 4px;
        position: relative;
        cursor: pointer;
      }

      &-menu {
        display: none;
        position: absolute;
        flex-direction: column;
        align-items: flex-start;
        width: fit-content;
        top: 30px;
        left: -20px;
        right: 0;
        bottom: 0;

        border-radius: 4px;
        background-color: $white;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.05);
        padding-top: 8px;
        padding-bottom: 8px;
        width: 325px;
        height: fit-content;

        & > li {
          padding: 12px 20px;

          a {
          }
        }

        &.show {
          display: flex;
        }
      }
    }

    &__menu {
      &.hide {
        display: none;
      }
    }
  }

  &-bottom__links,
  &-bottom__list {
    @extend %flexCenterStart;
    column-gap: 32px;
  }

  &-menu {
    display: none;
    background-color: $white;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 60px;
    height: calc(100vh - 160px);

    .footer__list-title {
      p,
      a {
        color: $black;
      }
    }

    &.show {
      display: block;
    }

    .container {
      height: 100%;
    }

    &__social {
      display: none;
    }

    &__inner {
      overflow-y: auto;
      height: 100%;
    }
  }

  .footer__list-laptop-hide {
    display: none;
  }
}

.header--transparent {
  background-color: transparent;

  .header-bottom__btn-burg {
    background-image: url(../assets/img/icons/burger-white-show.svg);
  }

  &:hover {
    background-color: $white;

    * {
      color: $black;
    }

    svg use {
      stroke: $black;
    }

    .btn-sec {
      border-color: $black;

      span {
        color: $black;
      }
    }

    .header-bottom__btn-burg {
      background-image: url(../assets/img/icons/burger-show.svg);

      &.change {
        background-image: url(../assets/img/icons/burger-close.svg);
      }
    }

    .header {
      &-top {
        &__logo {
          a {
            @extend %visible;

            &.header-top__logo--transparent {
              @extend %hidden;
            }
          }
        }

        &__socials {
          svg use {
            fill: $black;
            stroke: none;
          }
        }
      }
    }
  }

  * {
    color: $white;
  }

  svg use {
    stroke: $white;
  }

  .header {
    &-top {
      &__logo {
        a {
          @extend %hidden;

          &.header-top__logo--transparent {
            @extend %visible;
          }
        }
      }

      &__socials {
        svg use {
          fill: $white;
          stroke: none;
        }
      }
    }
  }

  .btn-sec {
    border-color: $white;

    span {
      color: $white;
    }
  }
}

@media screen and (max-width: $laptop) {
  .header {
    &-bottom__links,
    &-bottom__list {
      column-gap: 20px;
    }

    &-top {
      &__logo {
      }

      &__content {
        &.change {
          padding-left: 0;
          border-left: none;
        }
      }

      &__container {
        &.hide {
          .header-top__logo {
            display: none;
          }

          .header-top__content {
            padding-left: 0;
            border-left: none;
          }
        }
      }
    }

    &-bottom {
      &__logo {
        margin-right: 4px;
      }
    }

    &-menu {
      padding-top: 50px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .header {
    &.active {
      .header-bottom__logo {
        left: 0;
      }
    }

    &-bottom__menu,
    &-top__socials {
      display: none;
    }

    &-top {
      &__logo {
        @include sizes(39px, 64px);
      }

      &__container {
        &.hide {
          .header-top__logo {
            display: block;
          }

          .header-top__content {
            padding-left: 24px;
            border-left: 1px solid #dee2e7;
          }
        }
      }

      &__search {
        &-wr {
          position: static;
        }
      }

      &__panel {
        position: relative;
      }
    }

    &-bottom__btns {
      column-gap: 24px;
    }

    &-menu {
      padding-bottom: 50px;
    }

    .footer {
      &__lists {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 40px;
        margin-bottom: 0;
      }

      &__list {
        border-bottom: none;
        padding: 0;
      }

      &__list-title {
        p,
        a {
          font-size: 18px;
        }
      }

      &__list-items {
        padding-top: 20px;
        height: auto;
        opacity: 1;
        overflow: visible;
      }

      &__list-hide {
        display: none;
      }

      &__list-title svg {
        display: none;
      }

      &__list-laptop-hide {
        display: block;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .header {
    height: 88px;

    &-top {
      &__container {
        padding: 12px 0;
        column-gap: 24px;
      }

      &__logo {
        margin: 0;
      }

      &__content {
        justify-content: center;
        padding: 0;
        border: 0;
      }

      &__phone {
        margin: 0;
        align-items: flex-start;
      }

      &__burger {
        @include sizes(32px, 32px);
        flex-shrink: 0;

        background-image: url(../assets/img/icons/burger-show.svg);

        &.change {
          background-image: url(../assets/img/icons/burger-close.svg);
        }
      }

      &__btns {
        &-search {
          display: none;
        }
      }

      &__dropdown {
        display: none;
      }

      &__entrance {
        display: block;
        width: 32px;
        height: 32px;

        .header-bottom__btn {
          display: block;
        }
      }
    }

    &-bottom {
      display: none;

      &__btn {
        display: none;

        svg {
          width: 32px;
          height: 32px;
        }
      }
    }

    &-menu {
      height: calc(100vh - 88px);
      padding-top: 24px;
      padding-bottom: 32px;
    }

    .footer__lists {
      display: flex;
      row-gap: 8px;
    }

    .footer__list {
      padding: 20px 0;
    }

    .footer__list-items {
      padding-top: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
    }

    .footer__list-hide {
      display: block;
    }

    .footer__list-laptop-hide {
      display: none;
    }

    .footer__list-title svg {
      display: block;
    }

    .header-menu__social {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 24px;

      .header-top__socials {
        display: flex;
      }
    }

    .dropdown__items {
      display: flex;
      align-items: center;
      column-gap: 8px;
      width: fit-content;
    }

    .dropdown__item {
      padding: 0;

      label {
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
        color: $greyTxt;
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .header-top__container {
    column-gap: 16px;
  }
}
