.list-doc {
  &__container {
    @extend %flexColumn;
    row-gap: 40px;
  }

  &__title {
    @extend %secondaryH3;
  }

  &__links {
    @extend %gridColumnTwo;
    grid-gap: 20px;
  }
}

@media screen and (max-width: $tablet) {
  .list-doc {
    &__container {
      row-gap: 32px;
    }

    &__link {
      max-width: 100%;
      align-items: flex-start;
    }

    &__links {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
