.picture-text {
  &__container {
    position: relative;
  }

  &__content {
    @extend %flexColumn;
    justify-content: space-between;
    max-width: 800px;
    position: absolute;
    top: 60px;
    left: 60px;
    bottom: 60px;
  }

  &__img {
    height: 710px;

    img {
      object-fit: cover;
      border-radius: 4px;
    }
  }

  &__title {
    color: $white;
    @extend %secondaryH3;
  }

  &__desc-txt {
    color: $white;
    @extend %mainTxt;
  }

  .btn {
    margin-top: 40px;
  }
}

.picture-text--tax {
  .picture-text {
    &__content {
      max-width: 900px;
    }

    &__desc {
      max-width: 800px;
    }
  }
}

@media screen and (max-width: $laptop) {
  .picture-text {
    &__content {
      left: 48px;
    }

    &__img {
      height: 586px;
    }
  }

  .picture-text--tax {
    .picture-text {
      &__img {
        height: 710px;
      }

      &__content {
        max-width: 800px;
        left: 60px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .picture-text {
    &__img {
      height: 675px;
    }

    &__content {
      left: 32px;
      top: 32px;
      bottom: 32px;
      max-width: 100%;
    }

    &__title {
      font-size: 36px;
    }

    &__desc-txt {
      line-height: 130%;
    }

    .btn {
      margin-top: 32px;
    }
  }

  .picture-text--tax {
    .picture-text {
      &__img {
        height: 710px;
      }

      &__content {
        left: 40px;
        top: 40px;
        right: 40px;
        bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .picture-text {
    &__content {
      max-width: 100%;
      left: 20px;
      right: 20px;
    }

    &__title {
      max-width: 90%;
      font-size: 24px;
      hyphens: auto;
    }

    &__img {
      height: 580px;
    }
  }

  .picture-text--tax {
    .picture-text {
      &__content {
        top: 32px;
        bottom: 32px;
        left: 20px;
        right: 20px;
      }

      &__img {
        height: 580px;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .picture-text--agency {
    .picture-text {
      &__container {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 32px;
      }

      &__content {
        position: static;
        row-gap: 32px;
      }

      &__title,
      &__desc p {
        color: $black;
      }

      &__img {
        height: 246px;
      }

      .btn {
        span {
          font-size: 18px;
        }
      }
    }
  }
}
