<section class="ask-question">
  <div class="ask-question__container">
    <div class="ask-question__left">
      <div class="ask-question__titles">
        <div class="ask-question__title">Задать вопрос</div>
        <div class="ask-question__desc">Заполните форму, и мы свяжемся с вами в ближайшее время</div>
      </div>
      <div class="ask-question__img">
        <svg>
          <use xlink:href="assets/img/icons/icons.svg#ask-question"></use>
        </svg>
      </div>
    </div>
    <div class="ask-question__right">
      <div class="ask-question__titles">
        <div class="ask-question__title">Задать вопрос</div>
        <div class="ask-question__desc">Заполните форму, и мы свяжемся с вами в ближайшее время</div>
      </div>
      <form id="ask-question" class="ask-question__form">
        <div class="ask-question__input input">
          <div class="input__head">ФИО</div>
          <div class="input__input">
            <input type="text" placeholder="Введите ваше ФИО" />
          </div>
          <div class="input__hint">Error</div>
        </div>
        <div class="ask-question__input input">
          <div class="input__head">Электронная почта</div>
          <div class="input__input">
            <input type="email" placeholder="Введите электронную почту" />
          </div>
          <div class="input__hint">Error</div>
        </div>
        <div class="ask-question__textarea textarea">
          <div class="textarea__head">Текст обращения</div>
          <div class="textarea__textarea">
            <textarea name="" id="" placeholder="Опишите суть вопроса или предложения"></textarea>
          </div>
          <div class="textarea__hint">Error</div>
        </div>
        <div class="ask-question__btns">
          <button type="submit" class="ask-question__btn btn btn-def">
            <span>Задать вопрос</span>
          </button>
          <p class="ask-question__text">
            Заполняя форму обратной связи, Вы соглашаетесь с <a href="#">политикой конфиденциальности.</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
