<div class="cookies js-cookies">
  <div class="container">
    <div class="cookies__container">
      <div class="cookies__txts">
        Наш сайт использует файлы cookie для улучшения функциональности и обеспечения лучшего опыта пользователя.
        Продолжая просмотр, вы соглашаетесь с использованием файлов cookie. Подробнее о файлах cookie и том, как вы
        можете управлять ими, ознакомьтесь с нашей <a href="#">политикой конфиденциальности.</a>
      </div>
      <button type="button" class="cookies__btn btn btn-def js-cookies-btn">
        <span>Принимаю</span>
      </button>
    </div>
  </div>
</div>
