<!-- <header class="header header--transparent"> -->
<header class="header">
  <div class="header-top">
    <div class="container">
      <div class="header-top__container js-header-top-container">
        <div class="header-top__logo logo">
          <a href="./main.html" class="header-top__logo--transparent">
            <picture>
              <source media="(min-width: 1365px)" srcset="@img/icons/logo.svg" />
              <source media="(max-width: 1366px)" srcset="@img/icons/logo-sm.svg" />
              <img src="@img/icons/logo.svg" alt="logo" />
            </picture>
          </a>
          <a href="./main.html">
            <picture>
              <source media="(min-width: 1366px)" srcset="@img/icons/logo-2.svg" />
              <img src="@img/icons/logo-2-sm.svg" alt="logo" />
            </picture>
          </a>
        </div>
        <div class="header-top__content logo-2.svg">
          <div class="header-top__panel">
            <div class="header-top__search-wr">
              <div class="header-top__phone">
                <a href="tel:+78452695262">+7 (8452) 69 52 62</a>
                <p>Горячая линия</p>
              </div>
              <div class="header-top__btns-search">
                <div class="header-top__btns-button js-button-search">
                  <svg>
                    <use xlink:href="@img/icons/icons.svg#search"></use>
                  </svg>
                  <span>Поиск</span>
                </div>

                <div class="form-search js-form-search" action="/ru/search.php">
                  <input
                    class="form-search__input js-search-input"
                    size=""
                    name=""
                    id=""
                    value=""
                    type="text"
                    autocomplete="off$white"
                    placeholder="Что ищите?"
                  />
                  <button class="form-search__button-open">
                    <svg>
                      <use xlink:href="@img/icons/icons.svg#search"></use>
                    </svg>
                  </button>
                  <button class="form-search__button-close js-search-close">
                    <svg>
                      <use xlink:href="@img/icons/icons.svg#search-close"></use>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            <a href="#" class="header-bottom__btn">
              <svg>
                <use xlink:href="@img/icons/icons.svg#map-pinned"></use>
              </svg>
              <p>Инвестиционная карта</p>
            </a>
            <div class="header-top__socials">
              <a href="#" class="header-top__social">
                <svg>
                  <use xlink:href="@img/icons/icons.svg#vk-2"></use>
                </svg>
              </a>
              <a href="#" class="header-top__social">
                <svg>
                  <use xlink:href="@img/icons/icons.svg#tg-2"></use>
                </svg>
              </a>
              <a href="#" class="header-top__social">
                <svg>
                  <use xlink:href="@img/icons/icons.svg#odn-2"></use>
                </svg>
              </a>
            </div>
            <div class="header-top__dropdown dropdown dropdown-sec js-dropdown">
              <div class="dropdown__header js-dropdown-inner">
                <div class="dropdown__value js-dropdown-value">RU</div>
                <button type="button" class="dropdown__btn">
                  <svg>
                    <use xlink:href="@img/icons/icons.svg#arrow-caret-down"></use>
                  </svg>
                </button>
              </div>
              <div class="dropdown__content">
                <div class="dropdown__items">
                  <div class="dropdown__item js-dropdown-item active">
                    <input id="ru" type="radio" name="lang" value="lang-1" checked />
                    <label for="ru">RU</label>
                  </div>
                  <div class="dropdown__item js-dropdown-item">
                    <input id="lang-2" type="radio" name="lang" value="lang-2" />
                    <label for="lang-2">EN</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="header-bottom__btns header-top__entrance">
          <a href="#" class="header-bottom__btn">
            <svg>
              <use xlink:href="@img/icons/icons.svg#entrance"></use>
            </svg>
          </a>
        </div>
        <button type="button" class="header-top__burger js-burger --mob"></button>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom__container">
        <div class="header-bottom__links">
          <div class="header-bottom__logo logo">
            <a href="./main.html">
              <img src="@img/icons/logo-2-sm.svg" alt="logo" />
            </a>
          </div>
          <button type="button" class="header-bottom__btn-burg js-burger"></button>
          <nav class="nav header-bottom__menu">
            <ul class="header-bottom__list">
              <li class="nav__item header-bottom__list-item js-head-link">
                <a class="nav__link header-bottom__list-link" href="#">О регионе</a>
                <svg width="12" height="12">
                  <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
                </svg>
                <ul class="header-bottom__list-menu js-head-menu">
                  <li class="">
                    <a href="#">Расположение</a>
                  </li>
                  <li class="">
                    <a href="#">Статистика региона</a>
                  </li>
                  <li class="">
                    <a href="#">Социально-экономическое развитие</a>
                  </li>
                  <li class="">
                    <a href="#">Стратегия</a>
                  </li>
                  <li class="">
                    <a href="#">Истории успеха</a>
                  </li>
                  <li class="">
                    <a href="#">Муниципальные образования</a>
                  </li>
                  <li class="">
                    <a href="#">Инфраструктурные проекты</a>
                  </li>
                </ul>
              </li>
              <li class="nav__item header-bottom__list-item js-head-link">
                <a class="nav__link header-bottom__list-link" href="#">Инвестстандарт</a>
              </li>
              <li class="nav__item header-bottom__list-item js-head-link">
                <a class="nav__link header-bottom__list-link" href="#">Инвестору</a>
                <svg width="12" height="12">
                  <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
                </svg>
                <ul class="header-bottom__list-menu js-head-menu">
                  <li class="">
                    <a href="#">Заявка инвестора</a>
                  </li>
                  <li class="">
                    <a href="#">Корпорация развития</a>
                  </li>
                  <li class="">
                    <a href="#">Инвестиционный комитет</a>
                  </li>
                  <li class="">
                    <a href="#">Клуб стратегических инициатив</a>
                  </li>
                  <li class="">
                    <a href="#">Инвестиции в туризм</a>
                  </li>
                  <li class="">
                    <a href="#">Требуется инвестор</a>
                  </li>
                  <li class="">
                    <a href="#">Кадры</a>
                  </li>
                  <li class="">
                    <a href="#">План создания объектов</a>
                  </li>
                  <li class="">
                    <a href="#">Опросы</a>
                  </li>
                </ul>
              </li>
              <li class="nav__item header-bottom__list-item js-head-link">
                <a class="nav__link header-bottom__list-link" href="#">Площадки</a>
              </li>
              <li class="nav__item header-bottom__list-item js-head-link">
                <a class="nav__link header-bottom__list-link" href="#">Поддержка</a>
              </li>
              <li class="nav__item header-bottom__list-item js-head-link">
                <a class="nav__link header-bottom__list-link" href="#">Линия прямых обращений</a>
              </li>
              <li class="nav__item header-bottom__list-item js-head-link">
                <a class="nav__link header-bottom__list-link" href="#">Контакты</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="header-bottom__btns">
          <a href="#" class="header-bottom__btn">
            <svg>
              <use xlink:href="@img/icons/icons.svg#entrance"></use>
            </svg>
            <p>Войти</p>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-menu js-header-menu">
    <div class="container">
      <div class="header-menu__inner" data-simplebar="init">
        <div class="form-search form-search-mobile js-form-search" action="/ru/search.php">
          <input
            class="form-search__input js-search-mob-input js-search-input"
            size=""
            name=""
            id="myInput"
            value=""
            type="text"
            autocomplete="off$white"
            placeholder="Что ищите?"
          />
          <button class="form-search__button-open">
            <svg>
              <use xlink:href="@img/icons/icons.svg#search"></use>
            </svg>
          </button>
          <button class="form-search__button-close js-search-close js-search-mob-close">
            <svg>
              <use xlink:href="@img/icons/icons.svg#search-close"></use>
            </svg>
          </button>
        </div>
        <div class="footer__lists">
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>О регионе</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
            <ul class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Расположение</a>
              </li>
              <li class="footer__item">
                <a href="#">Статистика региона</a>
              </li>
              <li class="footer__item">
                <a href="#">Социально-экономическое развитие</a>
              </li>
              <li class="footer__item">
                <a href="#">Стратегия</a>
              </li>
              <li class="footer__item">
                <a href="#">Истории успеха</a>
              </li>
              <li class="footer__item">
                <a href="#">Муниципальные образования</a>
              </li>
              <li class="footer__item">
                <a href="#">Инфраструктурные проекты</a>
              </li>
            </ul>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Инвестору</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
            <ul class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Заявка инвестора</a>
              </li>
              <li class="footer__item">
                <a href="#">Корпорация развития</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестиционный комитет</a>
              </li>
              <li class="footer__item">
                <a href="#">Клуб стратегических инициатив</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестиции в туризм</a>
              </li>
              <li class="footer__item">
                <a href="#">Законодательство</a>
              </li>
              <li class="footer__item">
                <a href="#">Требуется инвестор</a>
              </li>
              <li class="footer__item">
                <a href="#">Кадры</a>
              </li>
              <li class="footer__item">
                <a href="#">План создания объектов</a>
              </li>
              <li class="footer__item">
                <a href="#">Опросы</a>
              </li>
            </ul>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Поддержка</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
            <ul class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Единое окно</a>
              </li>
              <li class="footer__item">
                <a href="#">Помощь инвестору</a>
              </li>
              <li class="footer__item">
                <a href="#">Налоговые льготы</a>
              </li>
              <li class="footer__item">
                <a href="#">Субсидии</a>
              </li>
              <li class="footer__item">
                <a href="#">СПИК 2.0</a>
              </li>
              <li class="footer__item">
                <a href="#">Инфраструктура поддержки</a>
              </li>
              <li class="footer__item">
                <a href="#">Инвестиционный договор</a>
              </li>
              <li class="footer__item">
                <a href="#">Региональный инвестстандарт</a>
              </li>
              <li class="footer__item">
                <a href="#">Калькулятор мер поддержки</a>
              </li>
            </ul>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Площадки</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
            <ul class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Предложить площадку</a>
              </li>
              <li class="footer__item">
                <a href="#">Реестр свободных земельных участков</a>
              </li>
              <li class="footer__item">
                <a href="#">Преференциальные территории</a>
              </li>
              <li class="footer__item">
                <a href="#">Площадки с объектами капитального строительства</a>
              </li>
            </ul>
            <div class="footer__list-title footer__list-title-hide js-dropdown-title">
              <p>Инвестстандарт</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
            <div class="footer__list-title footer__list-title-hide js-dropdown-title">
              <p>Контакты</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
          </div>
          <div class="footer__list footer__list-hide js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <a href="#">Инвестстандарт</a>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Линия прямых обращений</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Получить консультацию</a>
              </li>
              <li class="footer__item">
                <a href="#">Мониторинг обращений</a>
              </li>
              <li class="footer__item">
                <a href="#">Подать заявку на сопровождение проекта</a>
              </li>
              <li class="footer__item">
                <a href="#">Предложить проект</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>ГЧП</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Проекты ГЧП</a>
              </li>
              <li class="footer__item">
                <a href="#">Общие сведения</a>
              </li>
              <li class="footer__item">
                <a href="#">Меры поддержки</a>
              </li>
              <li class="footer__item">
                <a href="#">Реестр объектов для ГЧП</a>
              </li>
              <li class="footer__item">
                <a href="#">Контакты ГЧП</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Документы</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Законодательство</a>
              </li>
              <li class="footer__item">
                <a href="#">Корпоративные облигации</a>
              </li>
              <li class="footer__item">
                <a href="#">Презентационные материалы</a>
              </li>
            </div>
          </div>
          <div class="footer__list js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <p>Медиа</p>
              <svg width="20" height="20">
                <use xlink:href="@img/icons/icons.svg#arrow-black-down"></use>
              </svg>
            </div>
            <div class="footer__list-items js-dropdown-content">
              <li class="footer__item">
                <a href="#">Новости</a>
              </li>
              <li class="footer__item">
                <a href="#">Мероприятия</a>
              </li>
              <li class="footer__item">
                <a href="#">Фото и видеоотчет</a>
              </li>
            </div>
          </div>
          <div class="footer__list footer__list-hide js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <a href="#">Контакты</a>
            </div>
          </div>
          <div class="footer__list footer__list-hide footer__list-laptop-hide js-dropdown-list">
            <div class="footer__list-title js-dropdown-title">
              <a href="#">Инвестстандарт</a>
            </div>
            <div class="footer__list-title js-dropdown-title">
              <a href="#">Контакты</a>
            </div>
          </div>
        </div>
        <div class="header-menu__social">
          <div class="header-top__socials">
            <a href="#" class="header-top__social">
              <svg>
                <use xlink:href="@img/icons/icons.svg#vk-2"></use>
              </svg>
            </a>
            <a href="#" class="header-top__social">
              <svg>
                <use xlink:href="@img/icons/icons.svg#tg-2"></use>
              </svg>
            </a>
            <a href="#" class="header-top__social">
              <svg>
                <use xlink:href="@img/icons/icons.svg#odn-2"></use>
              </svg>
            </a>
          </div>
          <div class="dropdown__items">
            <div class="dropdown__item js-dropdown-item active">
              <input id="ru" type="radio" name="lang" value="lang-1" checked />
              <label for="ru">RU</label>
            </div>
            <div class="dropdown__item-separator">/</div>
            <div class="dropdown__item js-dropdown-item">
              <input id="lang-2" type="radio" name="lang" value="lang-2" />
              <label for="lang-2">EN</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
