<div class="pagination">
  <button type="button" class="pagination__btn">
    <svg>
      <use xlink:href="@img/icons/icons.svg#pagination-left"></use>
    </svg>
  </button>
  <button type="button" class="pagination__btn">
    <span>1</span>
  </button>
  <button type="button" class="pagination__btn">
    <span>2</span>
  </button>
  <div class="pagination__btn">
    <span>...</span>
  </div>
  <button type="button" class="pagination__btn --active">
    <span>6</span>
  </button>
  <button type="button" class="pagination__btn">
    <span>7</span>
  </button>
  <button type="button" class="pagination__btn">
    <svg>
      <use xlink:href="@img/icons/icons.svg#pagination-right"></use>
    </svg>
  </button>
</div>
