.invest-authorize {
  &__title {
    font-size: 48px;
    font-weight: 600;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 40px;
  }

  &__link {
    max-width: 760px;
  }
}

@media screen and (max-width: $laptop) {
  .invest-authorize {
    &__title {
      font-size: 40px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .invest-authorize {
    &__title {
      margin-bottom: 32px;
      font-size: 36px;
    }
  }
}

@media screen and (max-width: $mob) {
  .invest-authorize {
    &__title {
      font-size: 24px;
    }
  }
}
