.municipality {
  &__titles {
    @extend %gridColumnTwo;
    margin-bottom: 40px;
  }

  &__title {
    color: $black;
    padding-right: 20px;
  }

  &__desc {
    padding-right: 20px;
    p {
      @extend %mainTxt;
    }
  }

  &__descs-title {
    @extend %h3;
    margin-bottom: 32px;
  }

  &__descs-items {
    @extend %flexStretchBetween;
    column-gap: 20px;
    row-gap: 20px;
  }

  &__descs-item {
    @extend %flexColumn;
    row-gap: 4px;
    border-radius: 4px;
    background: $white;
    padding: 32px;
    flex: 0 0 calc(100% / 5 - 20px / 5);

    span {
      &:first-child {
        font-size: 58px;
        font-weight: 600;
        line-height: 110%;
        text-transform: uppercase;
        color: $bluePrimary;
      }

      &:last-child {
        @extend %mainTxt;
      }
    }

    &:last-child {
      @extend %flexCenter;
      background: $blueGradient;

      a {
        border-bottom: 1px solid $white;
        color: $white;
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;

        &:hover {
          border-color: transparent;
        }
      }
    }
  }
}

@media screen and (max-width: $laptop) {
  .municipality {
    &__descs-items {
      flex-wrap: wrap;
    }

    &__title,
    &__desc {
      padding: 0;
    }

    &__titles {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 32px;
      margin-bottom: 32px;
    }

    &__descs-item {
      span {
        &:first-child {
          font-size: 48px;
        }
      }
    }

    &__descs-item {
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        flex: 0 0 calc(100% / 3 - 20px / 1.5);
      }

      &:nth-child(4),
      &:nth-child(5) {
        flex: 0 0 calc(100% / 2 - 20px / 2);
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .municipality {
    &__descs-title {
      font-size: 26px;
      margin-bottom: 24px;
    }

    &__desc {
      p {
        line-height: 130%;
      }
    }

    &__descs-item {
      &:nth-child(n) {
        flex-basis: 100%;
      }
    }
  }
}
