.tax-blocks {
  &__container {
    @extend %flexColumn;
    row-gap: 40px;
  }

  &__rows {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
  }

  &__row {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.5fr;
    grid-gap: 30px;
  }

  &__row-title {
    margin-right: 30px;
  }

  &__row-title,
  &__row-percent,
  &__row-txt {
    font-size: 20px;
    font-weight: 400;
    line-height: 130%;
  }

  &__title {
    @extend %secondaryH3;
    max-width: calc(50% - 10px);
  }

  &__items {
    @extend %flexColumn;
    row-gap: 20px;
  }

  &__items-blocks {
    @extend %gridColumnFour;
    grid-auto-rows: 1fr;
    grid-gap: 20px;

    li {
      @extend %mainTxt;
      @extend %flexColumn;
      justify-content: space-between;
      row-gap: 8px;
      border-radius: 4px;
      padding: 32px;
      background-color: $white;

      b {
        @extend %numTextSmall;
        display: block;
      }
    }
  }

  &__items-title {
    @extend %subheader;
    max-width: calc(50% - 10px);
  }

  &__txts {
    @extend %gridColumnTwo;
    column-gap: 20px;
  }

  &__txt {
    padding-right: 20px;

    p {
      @extend %mainTxt;
    }
  }

  &__items-tx {
    @extend %mainTxt;
    max-width: calc(50% - 10px);
  }

  &__lists {
    @extend %gridColumnTwo;
    column-gap: 20px;
  }

  &__list {
    padding-right: 20px;
    @extend %flexColumn;
    row-gap: 16px;

    p {
      @extend %mainTxt;
    }

    .tax-blocks__bold {
      @extend %medium18;
    }
  }

  &__num {
    display: flex;
    align-items: baseline;
    column-gap: 16px;

    b {
      @extend %numTextSmall;
      display: block;
    }
  }

  &__rate {
    b {
      @extend %numTextMid;
      margin-right: 16px;
    }

    span {
      @extend %mainTxt;
      margin-bottom: 4px;
    }
  }

  &__list-title {
    @extend %subheader;
  }

  &__list-block {
    @extend %flexColumn;
    row-gap: 8px;
  }

  &__list-tit {
    @extend %semiboldMainTxt;
  }

  &__list-ul {
    li {
      @extend %mainTxt;
      position: relative;
      @include mb(12px);
      @extend %flexStart;
      column-gap: 12px;

      &::before {
        @include sizes(24px, 20px);
        content: '';
        background: url('../assets/img/icons/bullet-big.svg');
        flex-shrink: 0;
        top: 4px;
        position: relative;
      }
    }
  }

  &__bold {
    @extend %medium18;
  }
}

@media screen and (max-width: $laptop) {
  .tax-blocks {
    &__list {
      padding: 0;
    }

    &__list-ul {
      li {
        column-gap: 8px;

        &::before {
          top: 2.5px;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .tax-blocks {
    &__container {
      row-gap: 32px;
    }

    &__row-title {
      margin: 0;
    }

    &__row-title,
    &__row-percent,
    &__row-txt,
    &__list-tit {
      font-size: 18px;
      line-height: 130%;
    }

    &__list-block,
    &__row-percent {
      margin-left: 30px;
    }

    &__row {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 16px;
    }

    &__title,
    &__items-title,
    &__items-tx {
      max-width: 100%;
    }

    &__txts {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 12px;
    }

    &__txt {
      padding: 0;
    }

    &__items-blocks {
      grid-template-columns: repeat(2, 1fr);

      li {
        padding: 24px;
      }
    }

    &__lists {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 20px;
    }
  }
}

@media screen and (max-width: $mob) {
  .tax-blocks {
    &__items-blocks {
      grid-template-columns: repeat(1, 1fr);
      grid-gap: 16px;
    }

    &__list-block,
    &__row-percent {
      margin-left: 20px;
    }

    &__row-title,
    &__row-percent,
    &__row-txt,
    &__list-tit {
      font-size: 16px;
      line-height: 120%;
    }

    &__list-ul li::before {
      top: 1px;
    }
  }
}
