.result-years {
  &__container {
    @extend %flexColumn;
    row-gap: 40px;
  }

  &__title {
    @extend %h2;
  }

  &__items {
    @extend %gridColumnTwo;
    column-gap: 20px;
    row-gap: 20px;
  }
}

@media screen and (max-width: $laptop) {
}

@media screen and (max-width: $tablet) {
  .result-years {
    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media screen and (max-width: $mob) {
}
