.soceconomic-develop {
  &__container {
    @extend %flexColumn;
    row-gap: 40px;
  }

  &__titles {
    @extend %gridColumnTwo;
    column-gap: 20px;
  }

  &__title {
    @extend %h2;
    padding-right: 20px;
  }

  &__subtitle {
    @extend %mainTxt;
    padding-right: 20px;

    p {

      &:not(:last-child) {
        margin-bottom: 12px;
      }
    }
  }

  &__items {
    @extend %flexColumn;
    row-gap: 20px;
  }

  &__item {
    padding: 40px 32px;
    border-radius: 4px;
    background-color: $white;

    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
    column-gap: 40px;

    &-result {
      @extend %flexColumn;
    }

    &-price {
      color: $bluePrimary;
      font-size: 48px;
      font-weight: 600;
      line-height: 120%;
    }

    &-bottom {
      @extend %flexCenterStart;
    }

    &-icon {
      width: 32px;
      height: 32px;
      flex-shrink: 0;
      margin-right: 8px;
    }

    &-count {
      color: $bluePrimary;
      font-size: 18px;
      font-weight: 600;
      line-height: 130%;
      margin-right: 12px;
    }

    &-tooltip {
      width: 24px;
      height: 24px;
      flex-shrink: 0;
    }

    &-content {
      @extend %flexColumn;
      row-gap: 12px;

      ul {
        @extend %flexColumn;
        row-gap: 8px;

        li {
          @extend %flexEndStart;
          column-gap: 12px;

          b {
            color: $bluePrimary;
            font-size: 18px;
            font-weight: 600;
            line-height: 130%;
          }

          p {
            font-size: 16px;
            line-height: 130%;

            &:not(:last-child) {
              margin-bottom: 12px;
            }
          }
        }
      }
    }

    &-name {
      font-size: 32px;
      font-weight: 600;
      line-height: 120%;
    }
  }

}

@media screen and (max-width: $laptop) {
  .soceconomic-develop {
    &__title {
      padding-right: 0;
    }

    &__subtitle {
      padding-right: 0;
    }

    &__item {
      grid-template-columns: 340px 1fr;

      &-price {
        font-size: 40px;
        line-height: 110%;
      }

      &-name {
        font-size: 26px;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .soceconomic-develop {
    &__titles {
      grid-template-columns: repeat(1, 1fr);
      row-gap: 32px;
    }

    &__subtitle {

      p {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    &__item {
      grid-template-columns: 268px 1fr;
      column-gap: 32px;
      padding: 32px 24px;

      &-price {
        font-size: 36px;
        line-height: 110%;
      }

      &-icon {
        width: 24px;
        height: 24px;
        margin-right: 4px;
      }

      &-count {
        font-size: 20px;
        line-height: 120%;
        margin-right: 8px;
      }

      &-tooltip {
        width: 20px;
        height: 20px;
      }

      &-name {
        font-size: 26px;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .soceconomic-develop {
    &__subtitle {
      p {
        &:not(:last-child) {
          margin-bottom: 8px;
        }
      }
    }

    &__item {
      grid-template-columns: 1fr;
      row-gap: 32px;

      &-price {
        font-size: 32px;
      }

      &-icon {
        width: 24px;
        height: 24px;
        margin-right: 4px;
      }

      &-count {
        font-size: 18px;
        line-height: 130%;
      }

      &-tooltip {
        width: 20px;
        height: 20px;
      }

      &-name {
        font-size: 24px;
        word-break: break-word;
      }

      &-content {  
        ul {
          row-gap: 8px;
  
          li {
            flex-direction: column;
            align-items: flex-start;
            row-gap: 2px;
  
            b {
              color: $bluePrimary;
              font-size: 18px;
              font-weight: 600;
              line-height: 130%;
            }
  
            p {
              font-size: 16px;
              line-height: 130%;
  
              &:not(:last-child) {
                margin-bottom: 12px;
              }
            }
          }
        }
      }
    }
  }
}