%fullSize {
  width: 100%;
  height: 100%;
}

%hidden {
  opacity: 0;
  visibility: hidden;
}

%visible {
  opacity: 1;
  visibility: visible;
}

%roundSvg {
  stroke-linecap: round;
  stroke-linejoin: round;
}

//-----Flex----------//
%flexColumn {
  display: flex;
  flex-direction: column;
}

%flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flexStart {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

%flexCenterBetween {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%flexStretchBetween {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

%flexCenterEnd {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

%flexEndStart {
  display: flex;
  align-items: end;
  justify-content: flex-start;
}

%flexEndCenter {
  display: flex;
  align-items: end;
  justify-content: center;
}

%flexEndBetween {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

%flexCenterStart {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

%flexStartBetween {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

//-------------------------//
//-----Grid----------//
%gridColumnTwo {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

%gridColumnThree {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

%gridColumnFour {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

%gridColumnFive {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

%gridColumnSix {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

//-------------------------//

//-----image----------//
%imageCoverWidth {
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
//-------------------------//
