@mixin sizes($width: 100%, $height: auto) {
  width: $width;
  height: $height;
}

@mixin croppingText($rows) {
  display: -webkit-box;
  -webkit-line-clamp: $rows;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin noScrollLine() {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  scrollbar-width: none;
}

@mixin showMob() {
  .--desc {
    display: none;
  }

  .--mob {
    display: flex;
  }
}

@mixin showDesc() {
  .--desc {
    display: flex;
  }

  .--mob {
    display: none;
  }
}

// Марджины
@mixin mr($value) {
  &:not(:last-child) {
    margin-right: $value;
  }
}

@mixin ml($value) {
  &:not(:last-child) {
    margin-left: $value;
  }
}

@mixin mb($value) {
  &:not(:last-child) {
    margin-bottom: $value;
  }
}

@mixin mt($value) {
  &:not(:last-child) {
    margin-top: $value;
  }
}

//

@mixin gridColumn($count) {
  display: grid;
  grid-template-columns: repeat($count, 1fr);
}