%regular16 {
  font-size: 16px;
  font-weight: 400;
  line-height: 130%;
}

%medium18 {
  font-size: 18px;
  font-weight: 600;
  line-height: 140%;
}

%regular18 {
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;

  @media screen and (max-width: $tablet) {
    font-size: 16px;
  }
}

%semibold40 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}

%h1 {
  font-size: 82px;
  font-weight: 600;
  line-height: 120%;
  text-transform: uppercase;

  @media screen and (max-width: $laptop) {
    font-size: 64px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 48px;
  }

  @media screen and (max-width: $mob) {
    font-size: 32px;
    line-height: 110%;
  }
}

%h2 {
  font-size: 58px;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;

  @media screen and (max-width: $laptop) {
    font-size: 48px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 40px;
  }

  @media screen and (max-width: $mob) {
    font-size: 32px;
  }

  @media screen and (max-width: $miniMob) {
    hyphens: auto;
  }
}

%h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;

  @media screen and (max-width: $laptop) {
    font-size: 26px;
  }

  @media screen and (max-width: $mob) {
    font-size: 24px;
  }
}

%mainTxt {
  font-size: 20px;
  font-weight: 400;
  line-height: 130%;

  @media screen and (max-width: $laptop) {
    font-size: 18px;
    line-height: 130%;
  }

  @media screen and (max-width: $mob) {
    font-size: 16px;
  }
}

%mediumMainTxt {
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
}

%semiboldMainTxt {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;

  @media screen and (max-width: $mob) {
    font-size: 18px;
  }
}

%secondaryTextRegular {
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
}

%secondaryTextRegular12 {
  font-size: 12px;
  line-height: 130%;
}

%mediumTextRegular {
  font-size: 14px;
  font-weight: 500;
  line-height: 130%;
}

%semiboldTextRegular {
  font-size: 14px;
  font-weight: 600;
  line-height: 130%;
}

%subheader {
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;

  @media screen and (max-width: $tablet) {
    line-height: 120%;
  }

  @media screen and (max-width: $mob) {
    font-size: 20px;
  }
}

%semiboldText26 {
  font-size: 26px;
  font-weight: 600;
  line-height: 120%;

  @media screen and (max-width: $laptop) {
    font-size: 24px;
  }

  @media screen and (max-width: $mob) {
    font-size: 20px;
    line-height: 120%;
  }
}

%semibold16 {
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

%semibold20 {
  font-size: 20px;
  font-weight: 600;
  line-height: 130%;
}

%secondaryH3 {
  font-size: 48px;
  font-weight: 600;
  line-height: 110%;
  text-transform: uppercase;

  @media screen and (max-width: $laptop) {
    font-size: 40px;
  }

  @media screen and (max-width: $tablet) {
    font-size: 36px;
  }

  @media screen and (max-width: $mob) {
    font-size: 24px;
  }

  @media screen and (max-width: $miniMob) {
    hyphens: auto;
  }
}

%numText {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  color: $bluePrimary;

  @media screen and (max-width: $laptop) {
    font-size: 32px;
  }
}

%numTextBig {
  font-size: 48px;
  font-weight: 600;
  line-height: 110%;
  color: $bluePrimary;

  @media screen and (max-width: $laptop) {
    font-size: 32px;
  }
}

%numTextMid {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
  color: $bluePrimary;

  @media screen and (max-width: $laptop) {
    font-size: 32px;
  }

  @media screen and (max-width: $mob) {
    font-size: 28px;
  }
}

%numTextSmall {
  color: $bluePrimary;
  font-size: 24px;
  font-weight: 600;
  line-height: 130%;
}
