.call-line {
  &__titles {
    @extend %gridColumnTwo;
    column-gap: 20px;
    margin-bottom: 40px;
  }

  &__title,
  &__subtitles {
    padding-right: 20px;
  }

  &__form {
    @extend %flexColumn;
    justify-content: space-between;
  }

  &__title {
    @extend %h2;
  }

  &__img {
    width: calc(50% + 10px);
  }

  &__subtitles {
    p {
      @extend %mainTxt;
      @include mb(8px);
    }
  }

  &__content {
    display: flex;
    align-items: stretch;
  }

  &__img {
    img {
      border-radius: 4px 0 0 4px;
      object-fit: cover;
    }
  }

  &__form {
    background-color: $white;
    border-radius: 0 4px 4px 0;
    padding: 60px;
    width: calc(50% - 10px);
  }

  &__inputs {
    margin-bottom: 40px;
  }

  &__input {
    margin-bottom: 20px;
  }

  &__btn {
    width: 100%;
    margin-bottom: 20px;
  }

  &__textarea .textarea__textarea {
    height: 154px;
  }

  &__policy {
    @extend %regular16;

    a {
      color: $bluePrimary;

      &:hover {
        color: $black;
      }
    }
  }
}

@media screen and (max-width: $laptop) {
  .call-line {
    &__form {
      padding: 40px 50px;
    }

    &__img,
    &__form {
      width: 50%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .call-line {
    &__titles {
      row-gap: 32px;
      margin-bottom: 32px;
      grid-template-columns: repeat(1, 1fr);
    }

    &__form {
      padding: 32px;
      width: 58%;
      flex-shrink: 0;
    }

    &__title,
    &__subtitles {
      padding: 0;
    }

    &__inputs {
      margin-bottom: 32px;
    }
  }
}

@media screen and (max-width: $mob) {
  .call-line {
    &__content {
      flex-direction: column;
    }

    &__form {
      width: 100%;
    }

    &__titles {
      row-gap: 24px;
      margin-bottom: 24px;
    }

    &__form {
      padding: 32px 16px;
      border-radius: 0 0 4px 4px;
    }

    &__policy {
      br {
        display: none;
      }
    }

    &__img {
      @include sizes(100%, 240px);

      img {
        border-radius: 4px 4px 0 0;
      }
    }
  }
}
