.card {
  &__img {
    @include sizes(100%, 350px);

    img {
      border-radius: 4px 4px 0 0;
      object-fit: cover;
    }
  }

  &__content {
    @extend %flexColumn;
    justify-content: space-between;
    background-color: $white;
    padding: 24px 32px;
    min-height: 295px;
    border-radius: 0 0 4px 4px;
    row-gap: 20px;
  }

  &__content-title {
    @include croppingText(2);
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
    margin-bottom: 20px;
  }

  &__content-items {
    li {
      font-size: 16px;
      line-height: 130%;
      font-weight: 400;
      @include croppingText(1);

      b {
        font-weight: 600;
        margin-right: 8px;
      }

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }

  &__content-item {
    display: flex;
    align-items: center;
    column-gap: 8px;

    span {
      font-size: 16px;
      line-height: 130%;

      &:first-child {
        font-weight: 600;
      }

      &:last-child {
        @include croppingText(1);
        font-weight: 400;
      }
    }

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  &__more {
    @extend %flexCenterBetween;
  }

  &__date {
    font-size: 16px;
    font-weight: 400;
    line-height: 130%;
  }

  &__link {
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
    border-bottom: 1px solid $black;
    width: fit-content;
    margin: 0 0 0 auto;

    &:hover {
      border-color: transparent;
    }
  }
}

@media screen and (max-width: $laptop) {
  .card {
    &__img {
      height: 300px;
    }

    &__content {
      padding: 24px;
      min-height: 290px;
    }
  }
}

@media screen and (max-width: $tablet) {
  .card {
    &__img {
      height: 240px;
    }

    &__content {
      padding: 20px;
      min-height: 282px;
    }

    &__content-title {
      margin-bottom: 16px;
    }
  }
}

@media screen and (max-width: $mob) {
  .card {
    &__content-items {
      b {
        font-size: 16px;
      }

      li {
        font-size: 14px;
      }
    }

    &__content-item {
      span {
        &:last-child {
          font-size: 14px;
        }
      }

      &:not(:last-child) {
        margin-bottom: 6px;
      }
    }

    &__date {
      font-size: 14px;
    }

    &__link {
      font-size: 16px;
    }

    &__content {
      min-height: 270px;
    }
  }
}
