.content {
  strong {
    @extend %subheader;
    margin-bottom: 20px;
  }

  b {
    display: block;
    margin-bottom: 4px;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
  }

  p {
    @extend %mainTxt;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  ul {
    & > li {
      @extend %mainTxt;
      position: relative;
      padding-left: 36px;
      margin-bottom: 12px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        background-color: $bluePrimary;
        width: 24px;
        height: 2px;
      }
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: $laptop) {
  .content {
    b {
      font-size: 18px;
    }

    ul {
      & > li {
        padding-left: 32px;
      }
    }
  }
}
