.content {
  strong {
    @extend %subheader;
    margin-bottom: 20px;
  }

  p {
    @extend %mainTxt;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    b {
      @extend %subheader;
      color: $bluePrimary;
      margin-right: 8px;
    }
  }

  ul {
    & > li {
      @extend %mainTxt;
      position: relative;
      padding-left: 36px;
      @include mb(12px);

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 12px;
        background-color: $bluePrimary;
        width: 24px;
        height: 2px;
      }
    }

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: $laptop) {
  .content {
    ul {
      & > li {
        padding-left: 32px;
      }
    }
  }
}

.article-content {
  @extend %regular16;

  p {
    margin-top: 12px;
    margin-bottom: 8px;

    strong,
    .b {
      margin-bottom: 0;
    }
  }

  strong,
  b {
    font-weight: 600;
    margin-bottom: 8px;
    margin-top: 20px;
  }

  & > strong,
  & > b {
    display: block;
  }

  ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0;
    counter-reset: a 0;

    & > li {
      padding-left: 32px;
      position: relative;
      @include mb(4px);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        color: $bluePrimary;
        font-weight: 500;
        content: '0' counter(a);
        counter-increment: a 1;
      }

      &:nth-child(n + 10) {
        &::before {
          content: counter(a) !important;
        }
      }
    }
  }

  ul {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 0;

    & > li {
      padding-left: 32px;
      position: relative;
      @include mb(4px);

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        background-color: $bluePrimary;
        width: 24px;
        height: 2px;
      }

      &:nth-child(n + 10) {
        &::before {
          content: counter(a) '.' !important;
        }
      }
    }
  }

  h3 {
    @extend %semibold20;
    margin-top: 20px;
    margin-bottom: 12px;
  }

  a {
    color: $bluePrimary;
    transition: text-decoration 0.2s ease;

    &:hover {
      text-decoration: underline;
    }
  }
}
