.doc-download {
  &__items {
    @extend %gridColumnTwo;
    grid-gap: 20px;
  }

  &__item {
    border-radius: 4px;
    background-color: $white;
    padding: 20px;
    @extend %flexCenterStart;
    column-gap: 16px;
    cursor: pointer;
    transition: $transitionBgCol;

    &:hover {
      background-color: $bluePrimary;

      .doc-download__item-icon {
        svg {
          use {
            stroke: $white;
          }
        }
      }

      .doc-download__item-name {
        color: $white;
      }
    }

    &-icon {
      width: 40px;
      height: 40px;
      flex-shrink: 0;

      svg {
        use {
          stroke: $bluePrimary;
          transition: $transitionStroke;
        }
      }
    }

    &-name {
      @include croppingText(2);
      color: $bluePrimary;
      font-size: 16px;
      font-weight: 500;
      line-height: 130%;
      transition: $transitionColor;
    }
  }
}

@media screen and (max-width: $tablet) {
  .doc-download {
    &__item-name {
      @include croppingText(inherit);
    }

    &__items {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
