.fieldset-numbers {
  @extend %flexCenterBetween;
  column-gap: 8px;

  svg {
    height: 32px;
  }

  &__block {
    @extend %flexCenterBetween;
    column-gap: 8px;

    svg {
      height: 32px;
    }
  }

  &__block {
    &.--active {
      .fieldset-numbers__number {
        background: $blueGradient;
        color: $white;
        border-color: transparent;
      }

      svg line {
        stroke: #144286;
      }
    }

    &.--filled {
      .fieldset-numbers__number {
        background: $blueGradient;
        color: $white;
        border-color: transparent;

        svg {
          display: block;
        }

        span {
          display: none;
        }
      }
    }

    svg {
      width: 100%;
    }
  }

  &__number {
    @include sizes(32px, 32px);
    @extend %flexCenter;
    border-radius: 50%;
    border: 1px solid $inputGreyStroke;
    background-color: $white;
    flex-shrink: 0;
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.16px;
    color: $greyTxt;
    transition: $transitionColor, $transitionBgCol;

    svg {
      display: none;
      @include sizes(16px, 16px);
    }
  }
}

@media screen and (max-width: $mob) {
  .fieldset-numbers--appl {
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    .fieldset-numbers {
      &__block {
        &:not(:first-child) {
          width: calc(100% / 4 - 6px);
        }
      }
    }
  }
}
