.other {
  &__swiper {
    .swiper-slide {
      width: 25%;
    }
  }
}

@media screen and (max-width: $tablet) {
  .other {
    &__swiper {
      .swiper-slide {
        width: 50%;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .other {
    .slider-navigation--rel {
      display: none;
    }
    .container {
      padding-right: 0;
    }

    &__swiper {
      .swiper-slide {
        width: 100%;
      }
    }
  }
}
