.pagination {
  @extend %flexCenter;
  column-gap: 16px;
  margin-top: 40px;

  &__btn {
    @extend %flexCenter;
    @include sizes(40px, 40px);
    border-radius: 4px;
    border: 1px solid $inputGreyStroke;
    background: $white;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.04);
    transition: $transitionBorder;

    span {
      color: $greyTxt;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      transition: $transitionColor;
    }

    svg {
      @include sizes(16px, 16px);
      stroke: $greyTxt;
      transition: $transitionStroke;
    }

    &.--active {
      background: $blueGradient;

      span {
        color: $white;
      }
    }
  }

  @media screen and (min-width: $tablet) {
    &__btn:not(div):not(.--active) {
      &:hover {
        border-color: $bluePrimary;

        svg {
          stroke: $bluePrimary;
        }

        span {
          color: $bluePrimary;
        }
      }
    }
  }

  div {
    cursor: default;
  }
}

@media screen and (max-width: $tablet) {
  .pagination {
    margin-top: 32px;
  }
}

@media screen and (max-width: $mob) {
  .pagination {
    &__btn {
      @include sizes(32px, 32px);
    }
  }
}
