.simplebar-track.simplebar-vertical {
  background-color: $backgroundBlue;
  width: 4px;
  border-radius: 10rem;
  margin-right: 4px;
  cursor: pointer;
  z-index: 111;
}

.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: $inputGreyStroke;
  border-radius: 4px;
  cursor: pointer;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
  cursor: pointer;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.header .simplebar-track.simplebar-vertical {
  right: -30px;
}

.header .simplebar-track.simplebar-horizontal,
.modal-bg .simplebar-track.simplebar-horizontal {
  display: none;
}

.modal-bg .simplebar-track.simplebar-vertical {
  height: 97%;
}

@media screen and (max-width: $tablet) {
  .chat .simplebar-track.simplebar-vertical {
    margin-right: 6px;
  }

  .header .simplebar-track.simplebar-vertical {
    right: -16px;
  }
}
