.simplebar-track.simplebar-vertical {
  background-color: $backgroundBlue;
  width: 4px;
  border-radius: 10rem;
  margin-right: 4px;
  cursor: pointer;
}

.simplebar-scrollbar::before {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: $inputGreyStroke;
  border-radius: 4px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar::before {
  top: 0;
  bottom: 0;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

@media screen and (max-width: $tablet) {
  .chat .simplebar-track.simplebar-vertical {
    margin-right: -24px;
  }
}

@media screen and (max-width: $mob) {
  .chat .simplebar-track.simplebar-vertical {
    margin-right: -10px;
  }
}
