// Libs
@import './libs/swiper.scss';
@import './libs/normalize.scss';

// General
@import './general/breakpoints.scss';
@import './general/colors.scss';
@import './general/transitions.scss';
@import './general/mixins.scss';
@import './general/extends.scss';
@import './general/_texts.scss';

// Other
@import './fonts.scss';
@import './set.scss';

// Elements
@import './elements/btns.scss';
@import './elements/slider-navigation.scss';
@import './elements/inputs.scss';
@import './elements/dropdown.scss';
@import './elements/textarea.scss';
@import './elements/boxs.scss';
@import './elements/simplebar.scss';
@import './elements/tooltip.scss';
@import './elements/breadcrumbs.scss';
@import './elements/card.scss';
@import './elements/pagination.scss';
@import './elements/content.scss';
@import './elements/doc-download.scss';
@import './elements/list-per.scss';
@import './elements/search.scss';

// Blocks
@import './blocks/map.scss';
@import './blocks/footer.scss';
@import './blocks/modals.scss';
@import './blocks/header.scss';
@import './blocks/account-menu.scss';
@import './blocks/chat.scss';
@import './blocks/ask-question.scss';
@import './blocks/cards.scss';
@import './blocks/project-desc.scss';
@import './blocks/list-templates.scss';
@import './blocks/picture-text.scss';

// Pages
@import './pages/main/index.scss';
@import './pages/authentication/index.scss';
@import './pages/account/index.scss';
@import './pages/legislation/index.scss';
@import './pages/story/index.scss';
@import './pages/stories/index.scss';
@import './pages/regional-project/index.scss';
@import './pages/location/index.scss';
@import './pages/socio-economic-development/index.scss';
@import './pages/investment-committee/index.scss';
@import './pages/municipality/index.scss';
@import './pages/regional-investment-standart/index.scss';
@import './pages/strategy/index.scss';
@import './pages/club-strategic-initiatives/index.scss';
@import './pages/region-statistics/index.scss';
@import './pages/investment-projects-planned-implementation/index.scss';
@import './pages/implemented-investment-projects/index.scss';
