// Libs
@import './libs/swiper.scss';
@import './libs/normalize.scss';

// General
@import './general/breakpoints.scss';
@import './general/colors.scss';
@import './general/transitions.scss';
@import './general/mixins.scss';
@import './general/extends.scss';
@import './general/_texts.scss';

// Other
@import './fonts.scss';
@import './set.scss';

// Elements
@import './elements/btns.scss';
@import './elements/slider-navigation.scss';
@import './elements/inputs.scss';
@import './elements/dropdown.scss';
@import './elements/textarea.scss';
@import './elements/boxs.scss';
@import './elements/simplebar.scss';
@import './elements/tooltip.scss';
@import './elements/breadcrumbs.scss';
@import './elements/card.scss';
@import './elements/pagination.scss';
@import './elements/content.scss';
@import './elements/doc-download.scss';
@import './elements/list-per.scss';
@import './elements/search.scss';

// Blocks
@import './blocks/map.scss';
@import './blocks/footer.scss';
@import './blocks/modals.scss';
@import './blocks/header.scss';
@import './blocks/account-menu.scss';
@import './blocks/chat.scss';
@import './blocks/ask-question.scss';
@import './blocks/cards.scss';
@import './blocks/project-desc.scss';
@import './blocks/list-templates.scss';
@import './blocks/picture-text.scss';
@import './blocks/list-doc.scss';
@import './blocks/calculator.scss';
@import './blocks/map-contact.scss';
@import './blocks/legislation.scss';
@import './blocks/cookies.scss';

// Pages
@import './pages/main/index.scss';
@import './pages/authentication/index.scss';
@import './pages/account/index.scss';
@import './pages/story/index.scss';
@import './pages/stories/index.scss';
@import './pages/regional-project/index.scss';
@import './pages/location/index.scss';
@import './pages/socio-economic-development/index.scss';
@import './pages/investment-committee/index.scss';
@import './pages/municipality/index.scss';
@import './pages/regional-investment-standart/index.scss';
@import './pages/strategy/index.scss';
@import './pages/club-strategic-initiatives/index.scss';
@import './pages/region-statistics/index.scss';
@import './pages/investment-projects-planned-implementation/index.scss';
@import './pages/implemented-investment-projects/index.scss';
@import './pages/development-corporation/index.scss';
@import './pages/polls/index.scss';
@import './pages/infrastructure-plan/index.scss';
@import './pages/invest-tourism/index.scss';
@import './pages/personnel/index.scss';
@import './pages/single-window/index.scss';
@import './pages/predlozhit-ploshhadku/index.scss';
@import './pages/reestr/index.scss';
@import './pages/pref-territories/index.scss';
@import './pages/industrial-park/index.scss';
@import './pages/subsidies/index.scss';
@import './pages/invest-agrement/index.scss';
@import './pages/calc-result/index.scss';
@import './pages/support-infr/index.scss';
@import './pages/invest-contract/index.scss';
@import './pages/tax-benefits/index.scss';
@import './pages/privacy-police/index.scss';
@import './pages/presentation-materials/index.scss';
@import './pages/corp-bonds/index.scss';
@import './pages/404/index.scss';
@import './pages/contacts/index.scss';
@import './pages/call-line/index.scss';
@import './pages/monitoring-request/index.scss';
@import './pages/ppp-projects/index.scss';
@import './pages/ppp-proposals/index.scss';
@import './pages/ppp-register/index.scss';
@import './pages/ppp-contacts/index.scss';
@import './pages/ppp-measure/index.scss';
@import './pages/ppp-consulation/index.scss';
@import './pages/ppp-other-projects/index.scss';
@import './pages/ppp-project/index.scss';
@import './pages/search-query/index.scss';
