.account {
  margin: 168px 0 140px;

  &__container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  &__content {
    padding: 40px;
    background-color: $white;
    border-radius: 4px;
    width: 970px;
  }

  &__form,
  &__content {
    @extend %flexColumn;
    row-gap: 40px;
  }

  &__title {
    @extend %h3;
  }

  &__fieldset-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
  }

  &__fieldset-inputs {
    @extend %flexCenterStart;
    column-gap: 16px;
    flex-wrap: wrap;
    row-gap: 24px;
  }

  &__fieldset-input {
    width: 286px;
  }

  &__back {
    display: none;
  }

  &__fieldset-linkins {
    display: flex;
    column-gap: 40px;
  }

  &__fieldset-linkin {
    @extend %flexColumn;
    justify-content: space-between;
    row-gap: 20px;
    flex-basis: calc(45% - 40px / 2);
  }

  &__fieldset-linkin__text {
    @extend %secondaryTextRegular;
    line-height: 130%;
  }

  &__fieldset-linkin__socials {
    display: flex;
    column-gap: 20px;

    a {
      @include sizes(40px, 40px);
    }
  }

  &__fieldset-inputs--password {
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;

    .account__fieldset-input {
      width: 286px;
    }
  }

  &__titles {
    @extend %flexCenterBetween;
  }

  &__fieldset-radioboxs {
    @extend %flexCenterStart;
    column-gap: 24px;
  }

  &__fieldset-inputs--organization {
    row-gap: 24px;
    flex-wrap: wrap;
    width: 588px;
  }

  &__title-btn.btn--icon {
    padding: 8px 16px;

    span {
      font-size: 16px;
    }
  }

  &__form--organization {
    .account {
      &__fieldset {
        display: none;

        &.--active {
          display: flex;
        }
      }
    }
  }

  &__fieldset-radiobox {
    label {
      font-size: 16px;
    }
  }

  &__fieldset-del {
    @extend %flexCenter;
    column-gap: 4px;

    svg {
      @include sizes(20px, 20px);
      fill: $bluePrimary;
    }

    span {
      color: $bluePrimary;
      font-size: 16px;
      font-weight: 600;
      line-height: 130%;
    }

    &:hover {
      svg {
        fill: $blueHover;
      }
      span {
        color: $blueHover;
      }
    }

    &:active {
      svg {
        fill: $blue-1;
      }

      span {
        color: $blue-1;
      }
    }
  }

  &__fieldset-subtitles {
    @extend %flexCenterBetween;
  }

  &__fieldset-subtitles {
    margin-bottom: 20px;
  }

  &__fieldset-subtitle {
    font-size: 18px;
    font-weight: 600;
    line-height: 130%;
  }

  &__fieldset {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
  }

  &__status {
    @extend %flexEndBetween;
    column-gap: 20px;
  }

  &__status-dropdown {
    width: 286px;
    flex-shrink: 0;
  }

  &__status-input {
    width: 100%;
  }

  &__table {
    border: 1px solid#E6E6E6;
    border-radius: 4px;
    margin-top: 20px;
  }

  &__table-header {
    display: flex;
    background-color: #f4f6fb;
    border-bottom: 1px solid#E6E6E6;

    div {
      font-size: 14px;
      font-weight: 500;
      line-height: 130%;
      padding: 8px 12px;
      flex-shrink: 0;

      &:nth-child(1) {
        width: 16.6%;
      }
      &:nth-child(2) {
        width: 42.8%;
      }
      &:nth-child(3) {
        width: 15.5%;
      }
      &:nth-child(4) {
        width: 25.3%;
      }
    }
  }

  &__table-items {
    display: flex;

    &:not(:last-child) {
      border-bottom: 1px solid#E6E6E6;
    }

    &.--close {
      .account__table-item {
        &:nth-child(3) {
          div:last-child span {
            color: $white;
            background: $grayDisabledState;
          }
        }
      }
    }

    svg {
      stroke: $bluePrimary;
    }
  }

  &__table-item {
    padding: 12px;
    height: 72px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    @extend %secondaryTextRegular;

    &:nth-child(1) {
      width: 16.6%;
    }

    &:nth-child(2) {
      width: 42.8%;
    }

    &:nth-child(3) {
      width: 15.5%;

      div:last-child span {
        color: $bluePrimary;
        padding: 4px 8px;
        border-radius: 4px;
        background: #ecf4fc;
        display: inline-block;
      }
    }

    &:nth-child(4) {
      width: 15.1%;
      justify-content: center;
    }

    &:nth-child(5) {
      padding: 12px 8px;
    }

    div {
      &:last-child {
        @extend %secondaryTextRegular;
      }
    }
  }

  &__table-btns {
    column-gap: 8px;
  }

  &__table-btn {
    @include sizes(32px, 32px);
    @extend %flexCenter;
    border-radius: 50%;
    transition: $transitionBgCol;

    svg {
      @include sizes(20px, 20px);
    }

    &:not(:disabled):hover {
      background-color: $inputGreyStroke;
    }

    &:disabled {
      cursor: default;

      svg path {
        stroke: $inputGreyStroke;
      }
    }
  }
}

@media screen and (max-width: $laptop) {
  .account {
    margin: 148px 0 120px;

    &__content {
      flex-basis: 880px;
    }

    &__fieldset-linkin {
      flex-basis: calc(50% - 40px / 2);
    }

    &__fieldset-inputs--organization {
      width: 528px;
    }

    &__fieldset-input {
      width: 256px;
    }

    &__status {
      @extend %flexEndBetween;
      column-gap: 20px;
    }

    &__table-header {
      div {
        &:nth-child(1) {
          width: 18.5%;
        }

        &:nth-child(2) {
          width: 36.4%;
        }

        &:nth-child(3) {
          width: 17.3%;
        }

        &:nth-child(4) {
          width: 27.6%;
        }
      }
    }

    &__table-item {
      &:nth-child(1) {
        width: 18.5%;
      }

      &:nth-child(2) {
        width: 36.4%;
      }

      &:nth-child(3) {
        width: 17.3%;
      }

      &:nth-child(4) {
        width: 16.8%;
      }
    }

    &__table-item:nth-child(1),
    &__table-item:nth-child(2) {
      div:last-child {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: wrap;
      }
    }
  }
}

@media screen and (max-width: $tablet) {
  .account {
    margin: 128px 0 100px;

    &__content {
      flex-basis: 100%;
      padding: 0;
      background-color: transparent;
    }

    &__form,
    &__content {
      row-gap: 32px;
    }

    &__fieldset-inputs {
      row-gap: 16px;
      column-gap: 16px;
      flex-wrap: wrap;
    }

    &__fieldset-input {
      flex-basis: calc(50% - 16px / 2);
    }

    &__back {
      display: flex;
      align-items: center;
      column-gap: 4px;

      svg {
        @include sizes(20px, 20px);
      }

      span {
        font-size: 16px;
        line-height: 140%;
      }
    }

    &__btn {
      width: fit-content;
    }

    .input__head {
      font-weight: 500;
    }

    &__fieldset-linkin {
      flex-basis: calc(50% - 48px / 2);
    }

    &__fieldset-inputs {
      row-gap: 20px;
    }

    &__fieldset-inputs--password {
      .account__fieldset-input {
        width: 296px;
      }
    }

    &__fieldset-subtitle {
      font-size: 16px;
      line-height: 120%;
    }

    &__fieldset-inputs--organization {
      row-gap: 24px;
      flex-wrap: wrap;
      width: 100%;

      .account__fieldset-input {
        flex-basis: calc(50% - 16px / 2);
      }
    }

    &__table-header {
      div {
        &:nth-child(1) {
          width: 21.5%;
        }

        &:nth-child(2) {
          width: 26%;
        }

        &:nth-child(3) {
          width: 20.1%;
        }

        &:nth-child(4) {
          width: 32.4%;
        }
      }
    }

    &__table-item {
      &:nth-child(1) {
        width: 21.5%;
      }

      &:nth-child(2) {
        width: 26%;
      }

      &:nth-child(3) {
        width: 20.1%;
      }

      &:nth-child(4) {
        width: 19.6%;
      }
    }
  }
}

@media screen and (max-width: $mob) {
  .account {
    margin: 118px 0 80px;

    &__fieldset-input {
      flex-basis: 100%;
    }

    &__filedset {
      row-gap: 20px;
    }

    .btn {
      width: 100%;
    }

    &__fieldset-linkins {
      flex-direction: column;
      row-gap: 24px;
    }

    &__fieldset-linkin {
      row-gap: 16px;
    }

    &__fieldset-inputs--password {
      row-gap: 16px;
      .account__fieldset-input {
        width: 100%;
      }
    }

    &__fieldset-del {
      svg {
        @include sizes(16px, 16px);
      }

      span {
        font-size: 14px;
      }
    }

    &__titles {
      .account__title-btn {
        padding: 10px 16px;
        width: fit-content;
        background: $blueGradient;
        border: 0;

        svg path {
          fill: $white;
        }

        span {
          display: none;
        }
      }
    }

    &__fieldset-radioboxs {
      flex-direction: column;
      row-gap: 16px;
      align-items: flex-start;
    }

    &__fieldset-inputs--organization {
      row-gap: 16px;
      width: 100%;

      .account__fieldset-input {
        flex-basis: 100%;
      }
    }

    &__status {
      row-gap: 16px;
      flex-direction: column;
    }

    &__status-dropdown {
      width: 100%;
    }

    &__table {
      margin-top: 24px;
    }

    &__table-header {
      display: none;
    }

    &__table-items {
      flex-direction: column;
      row-gap: 16px;
      padding: 20px;
      border-radius: 4px;

      &:not(:last-child) {
        margin-bottom: 16px;
      }

      border: 1px solid $inputGreyStroke;
    }

    &__table-item {
      column-gap: 20px;
      padding: 0;
      justify-content: space-between;
      height: auto;

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(4) {
        div {
          width: calc(50% - 20px / 2);
        }
      }

      &:nth-child(5) {
        padding: 0;
      }

      &:nth-child(n) {
        width: 100%;
        div:first-child {
          font-weight: 500;
        }

        div:last-child {
          -webkit-line-clamp: 1;
        }
      }
    }

    &__table-btns {
      flex-direction: column;
      row-gap: 16px;
      width: 100%;
    }

    &__table-btn {
      display: none;
    }

    &__table {
      border: none;
    }
  }
}
