.cards-page {
  &__title {
    color: $black;
  }

  &__container {
    @extend %flexColumn;
    row-gap: 40px;
  }
}

@media screen and (max-width: $tablet) {
  .cards-page {
    &__container {
      row-gap: 32px;
    }
  }
}
